In [1]:
# librerias

import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')


# para pintar
import pylab as plt
import seaborn as sns

#para que salga el grafico
%matplotlib inline

In [2]:
shark_attacks=pd.read_csv('./attacks.csv',encoding='latin')

In [3]:
shark_attacks.shape

(25723, 24)

In [4]:
df=shark_attacks.copy()  #copia de la original

In [5]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [6]:
len(df.columns)

24

In [7]:
#Columnas numericas

num_df=df.select_dtypes(exclude='object')

num_df.columns

Index(['Year', 'original order'], dtype='object')

In [8]:
##Columnas categoricas

cat_df=df.select_dtypes(exclude=['int64', 'float64'])

cat_df.columns

Index(['Case Number', 'Date', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

In [9]:
print(num_df.shape[1])  #nº columnas numericas
print(cat_df.shape[1])  #nº columnas categoricas

2
22

In [10]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB

In [11]:
n_cols=[c.lower().replace(' ', '') for c in df.columns]

In [12]:
{k:v for k,v in zip(df.columns, n_cols)}

{'Case Number': 'casenumber',
 'Date': 'date',
 'Year': 'year',
 'Type': 'type',
 'Country': 'country',
 'Area': 'area',
 'Location': 'location',
 'Activity': 'activity',
 'Name': 'name',
 'Sex ': 'sex',
 'Age': 'age',
 'Injury': 'injury',
 'Fatal (Y/N)': 'fatal(y/n)',
 'Time': 'time',
 'Species ': 'species',
 'Investigator or Source': 'investigatororsource',
 'pdf': 'pdf',
 'href formula': 'hrefformula',
 'href': 'href',
 'Case Number.1': 'casenumber.1',
 'Case Number.2': 'casenumber.2',
 'original order': 'originalorder',
 'Unnamed: 22': 'unnamed:22',
 'Unnamed: 23': 'unnamed:23'}

In [13]:
# k=vieja columna, v=nueva columna, todas o algunas

df=df.rename(columns={k:v for k,v in zip(df.columns, n_cols)})  # todas

df.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed:22,unnamed:23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [14]:
n_cols=[c.replace('.', '_') for c in df.columns]

In [15]:
{k:v for k,v in zip(df.columns, n_cols)}

{'casenumber': 'casenumber',
 'date': 'date',
 'year': 'year',
 'type': 'type',
 'country': 'country',
 'area': 'area',
 'location': 'location',
 'activity': 'activity',
 'name': 'name',
 'sex': 'sex',
 'age': 'age',
 'injury': 'injury',
 'fatal(y/n)': 'fatal(y/n)',
 'time': 'time',
 'species': 'species',
 'investigatororsource': 'investigatororsource',
 'pdf': 'pdf',
 'hrefformula': 'hrefformula',
 'href': 'href',
 'casenumber.1': 'casenumber_1',
 'casenumber.2': 'casenumber_2',
 'originalorder': 'originalorder',
 'unnamed:22': 'unnamed:22',
 'unnamed:23': 'unnamed:23'}

In [16]:
# k=vieja columna, v=nueva columna, todas o algunas

df=df.rename(columns={k:v for k,v in zip(df.columns, n_cols)})  # todas

df.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatororsource,pdf,hrefformula,href,casenumber_1,casenumber_2,originalorder,unnamed:22,unnamed:23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [17]:
n_cols=[c.replace('(y/n)', '') for c in df.columns]
{k:v for k,v in zip(df.columns, n_cols)}
df=df.rename(columns={k:v for k,v in zip(df.columns, n_cols)})  # todas

df.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species,investigatororsource,pdf,hrefformula,href,casenumber_1,casenumber_2,originalorder,unnamed:22,unnamed:23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [18]:
df.drop_duplicates(inplace=True)

In [19]:
df.shape

(6312, 24)

In [20]:
nan_cols=df.isna().sum()  # serie con los valores nulos por columna

nan_cols[nan_cols>0]

casenumber                 2
date                      10
year                      12
type                      14
country                   60
area                     465
location                 550
activity                 554
name                     220
sex                      575
age                     2841
injury                    38
fatal                    549
time                    3364
species                 2848
investigatororsource      27
pdf                       10
hrefformula               11
href                      10
casenumber_1              10
casenumber_2              10
originalorder              3
unnamed:22              6311
unnamed:23              6310
dtype: int64

In [21]:
nan_cols_per=df.isna().mean() * 100  # porcentaje de nulos por columna

nan_cols_per[nan_cols_per>0]

casenumber               0.031686
date                     0.158428
year                     0.190114
type                     0.221800
country                  0.950570
area                     7.366920
location                 8.713561
activity                 8.776933
name                     3.485425
sex                      9.109632
age                     45.009506
injury                   0.602028
fatal                    8.697719
time                    53.295311
species                 45.120406
investigatororsource     0.427757
pdf                      0.158428
hrefformula              0.174271
href                     0.158428
casenumber_1             0.158428
casenumber_2             0.158428
originalorder            0.047529
unnamed:22              99.984157
unnamed:23              99.968314
dtype: float64

In [22]:
high_nancols=list(nan_cols_per[nan_cols_per>80].index )  #lista de las columnas con +80% de valores nulos
high_nancols

['unnamed:22', 'unnamed:23']

In [23]:
df.drop(columns=high_nancols,inplace=True)    #eliminar columnas con +80% de valores nulos

In [24]:
df.shape,shark_attacks.shape    #comparar el tamaños del archivo original vs el actual (drop 5 columnas)

((6312, 22), (25723, 24))

In [25]:
df['casenumber'].fillna('unknown', inplace=True)   #quitamos nulos en casenumber

In [26]:
df.columns

Index(['casenumber', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal', 'time', 'species',
       'investigatororsource', 'pdf', 'hrefformula', 'href', 'casenumber_1',
       'casenumber_2', 'originalorder'],
      dtype='object')

In [27]:
for c in df.columns:       #valores unicos de cada columna
    
    columna=c
    
    print(c,'- valores únicos: ',len(df[columna].unique()))

casenumber - valores únicos:  6288
date - valores únicos:  5434
year - valores únicos:  250
type - valores únicos:  9
country - valores únicos:  213
area - valores únicos:  826
location - valores únicos:  4109
activity - valores únicos:  1533
name - valores únicos:  5231
sex - valores únicos:  7
age - valores únicos:  158
injury - valores únicos:  3738
fatal - valores únicos:  9
time - valores únicos:  367
species - valores únicos:  1550
investigatororsource - valores únicos:  4970
pdf - valores únicos:  6292
hrefformula - valores únicos:  6291
href - valores únicos:  6286
casenumber_1 - valores únicos:  6286
casenumber_2 - valores únicos:  6287
originalorder - valores únicos:  6309

In [28]:
df.tail(10)

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species,investigatororsource,pdf,hrefformula,href,casenumber_1,casenumber_2,originalorder
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df.columns

Index(['casenumber', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal', 'time', 'species',
       'investigatororsource', 'pdf', 'hrefformula', 'href', 'casenumber_1',
       'casenumber_2', 'originalorder'],
      dtype='object')

In [30]:
df.drop_duplicates(subset=['date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal', 'time', 'species',
       'investigatororsource', 'pdf', 'hrefformula', 'href', 'casenumber_1',
       'casenumber_2'],inplace=True)

In [31]:
df.shape

(6303, 22)

In [32]:
df.iloc[6147:6160]

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species,investigatororsource,pdf,hrefformula,href,casenumber_1,casenumber_2,originalorder
6147,1767.00.00,1767,1767.0,Invalid,FRANCE,Côte d'Azur,St. Tropez,Bathing,Samuel Matthews,M,NaN,Lacerations to arm & leg,NaN,NaN,Description of shark does not ring true,NaN,1767.00.00-Matthews.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1767.00.00,1767.00.00,156.0
6148,1764.00.00,1764,1764.0,Unprovoked,SPAIN,NaN,Guadalquivir River,Swimming,male,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1764.00.00-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1764.00.00,1764.00.00,155.0
6149,1758.00.00,1758,1758.0,Unprovoked,MEDITERRANEAN SEA,NaN,NaN,Fell overboard from a frigate & was swallowed ...,sailor,M,NaN,"""He was taken up alive and but little injured.""",N,NaN,"""The fish was harpooned, dried, and presented ...",A.M. Hodgkin,1758.00.00-Mediterranean.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1758.00.00,1758.00.00,154.0
6150,1753.10.27.R,Reported 27-Oct-1753,1753.0,Unprovoked,JAMAICA,NaN,Kingston Harbor,Fell overboard,male,M,NaN,FATAL,Y,NaN,NaN,"Maryland Gazette, 1/31/1754",1753.10.27.R-Jamaica.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1753.10.27.R,1753.10.27.R,153.0
6151,1751.07.27,27-Jul-1751,1751.0,Unprovoked,USA,Massachusetts,NaN,Swimming,male,M,NaN,FATAL,Y,NaN,NaN,"Pennsylvania Gazette, 8/15/1751",1751.07.27-Massachusetts.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1751.07.27,1751.07.27,152.0
6152,1749.00.00,1749,1749.0,Unprovoked,CUBA,Havana Province,Havana Harbor,Swimming,Brook Watson,M,14,Right leg severed at knee. In 1796 he became ...,N,NaN,NaN,GSAF,1749.00.00-Watson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1749.00.00,1749.00.00,151.0
6153,1755.00.00,1755,1755.0,Unprovoked,SWEDEN,Skagerrak arm of the North Sea,Bohuslän,NaN,Fishermen,M,NaN,NaN,UNKNOWN,NaN,NaN,"C. Moore, GSAF",1755.00.00-Sweden.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1755.00.00,1755.00.00,150.0
6154,1748.00.00,1748,1748.0,Unprovoked,PANAMA,Las Perlas archipelago,Taboga & Isla del Rey,Pearl diving,African slaves,M,NaN,FATAL,Y,NaN,NaN,"J. Castro, et al",1748.00.00.R-LasPerlas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1748.00.00,1748.00.00,149.0
6155,1742.12.17,17-Dec-1742,1742.0,Unprovoked,NaN,NaN,Carlisle Bay,Swimming,2 impressed seamen,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1742.12.17-AdviceSeamen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1742.12.17,1742.12.17,148.0
6156,1738.04.06.R,Reported 06-Apr-1738,1738.0,Unprovoked,ITALY,Sicily,Strait of Messina,Swimming,male,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1738.04.06.R-Messina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1738.04.06.R,1738.04.06.R,147.0
6157,1733.00.00,1733,1733.0,Invalid,ICELAND,Bardestrand,Talkknefiord,NaN,NaN,NaN,NaN,"Partial hominid remains recovered from shark, ...",NaN,NaN,Shark involvement prior to death unconfirmed,E. Olafsen,1733.00.00-Iceland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1733.00.00,1733.00.00,146.0
6158,1723.00.00,1723,1723.0,Unprovoked,ROATAN,NaN,NaN,NaN,Philip Ashton,M,NaN,Struck on thigh,NaN,NaN,NaN,"C.Moore, GSAF",1730.00.00-Ashton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1723.00.00,1723.00.00,145.0
6159,1721.06.00,June 1721,1721.0,Unprovoked,ITALY,Sardinia,"Ponte della Maddelena,",Swimming,male,M,NaN,"FATAL, partial remains recovered from sharks...",Y,NaN,"White shark, 1600-lb female",F. Ricciardi; A. De Maddalena.,1721.06.00-Maddalena.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1721.06.00,1721.06.00,144.0

In [33]:
#convertir valores de 'casenumber' a str

for e in df.casenumber:
    e=str(e)

In [34]:
lst=[]

for x in df.casenumber: 
    
    if len(x) == 10:
        lst.append('-'.join(x.split('.')[:3]))     #crea una lista en la que si tiene mas de 10 caracteres quite lo que haya a la derecha del ultimo punto y lo añada. pun
        
        
    else:
        x='unknown'       #sino que lo añada a sustituyendolo por undefined
        lst.append(x)
    
lst

['2018-06-25',
 '2018-06-18',
 '2018-06-09',
 '2018-06-08',
 '2018-06-04',
 'unknown',
 'unknown',
 '2018-05-27',
 'unknown',
 'unknown',
 '2018-05-24',
 '2018-05-21',
 'unknown',
 'unknown',
 '2018-05-00',
 '2018-05-12',
 '2018-05-09',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2018-04-24',
 '2018-04-23',
 '2018-04-22',
 '2018-04-19',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2018-04-14',
 'unknown',
 '2018-04-09',
 '2018-04-05',
 '2018-04-03',
 '2018-03-31',
 '2018-03-14',
 'unknown',
 'unknown',
 '2018-02-24',
 '2018-02-23',
 '2018-02-17',
 '2018-02-15',
 '2018-02-14',
 '2018-02-11',
 '2018-02-03',
 '2018-02-01',
 '2018-01-28',
 '2018-01-21',
 '2018-01-14',
 '2018-01-13',
 '2018-01-12',
 '2018-01-05',
 '2017-12-31',
 '2017-12-30',
 '2017-12-21',
 '2017-12-09',
 'unknown',
 'unknown',
 'unknown',
 '2017-11-24',
 '2017-11-18',
 'unknown',
 '2017-11-13',
 '2017-11-04',
 'unknown',
 '2017-10-28',
 '2017-10-26',
 'unknown',
 'unknown',
 'unknown',
 '2017-10-22',
 '2017-10-21',
 '2017-10-18',
 '2017-10-09',
 '2017-10-05',
 '2017-10-01',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2017-09-20',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2017-09-14',
 '2017-09-13',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2017-08-29',
 '2017-08-27',
 'unknown',
 'unknown',
 '2017-08-23',
 '2017-08-18',
 '2017-08-10',
 '2017-08-05',
 '2017-08-03',
 '2017-08-01',
 '2017-07-31',
 'unknown',
 'unknown',
 '2017-07-27',
 'unknown',
 '2017-07-24',
 'unknown',
 'unknown',
 '2017-07-22',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2017-07-11',
 '2017-07-09',
 'unknown',
 '2017-07-07',
 '2017-07-02',
 '2017-06-29',
 '2017-06-21',
 '2017-06-19',
 'unknown',
 'unknown',
 '2017-06-17',
 '2017-06-05',
 'unknown',
 '2017-06-11',
 'unknown',
 'unknown',
 'unknown',
 '2017-06-04',
 '2017-06-02',
 '2017-05-30',
 '2017-05-28',
 '2017-05-27',
 '2017-05-12',
 'unknown',
 '2017-05-06',
 '2017-05-03',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2017-04-27',
 '2017-04-26',
 '2017-04-22',
 '2017-04-20',
 'unknown',
 'unknown',
 '2017-04-14',
 '2017-04-13',
 'unknown',
 'unknown',
 '2017-04-11',
 'unknown',
 'unknown',
 '2017-04-06',
 '2017-04-05',
 'unknown',
 'unknown',
 '2017-03-27',
 '2017-03-19',
 '2017-03-18',
 '2017-03-11',
 '2017-03-09',
 '2017-02-25',
 '2017-02-24',
 '2017-02-21',
 '2017-02-17',
 '2017-02-11',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2017-01-24',
 '2017-01-22',
 '2017-01-21',
 'unknown',
 'unknown',
 '2017-01-09',
 'unknown',
 '2017-01-05',
 '2017-01-03',
 '2016-12-27',
 '2016-12-24',
 '2016-12-19',
 '2016-12-14',
 'unknown',
 'unknown',
 '2016-12-06',
 '2016-12-01',
 '2016-11-28',
 '2016-11-14',
 '2016-10-30',
 '2016-10-29',
 '2016-10-24',
 '2016-10-21',
 '2016-10-15',
 '2016-10-14',
 'unknown',
 '2016-10-12',
 '2016-10-10',
 '2016-10-02',
 '2016-10-01',
 '2016-09-26',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2016-09-15',
 'unknown',
 '2016-09-11',
 '2016-09-07',
 '2016-09-06',
 'unknown',
 'unknown',
 '2016-09-04',
 '2016-09-01',
 '2016-09-00',
 'unknown',
 'unknown',
 '2016-08-27',
 '2016-08-25',
 '2016-08-07',
 '2016-08-06',
 '2016-08-04',
 '2016-07-29',
 'unknown',
 '2016-07-28',
 '2016-07-27',
 '2016-07-26',
 '2016-07-24',
 'unknown',
 'unknown',
 '2016-07-20',
 '2016-07-17',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2016-07-08',
 'unknown',
 'unknown',
 '2016-07-06',
 '2016-07-04',
 '2016-06-27',
 '2016-06-25',
 '2016-06-24',
 '2016-06-23',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2016-06-14',
 '2016-06-11',
 '2016-06-07',
 'unknown',
 'unknown',
 '2016-06-04',
 'unknown',
 'unknown',
 '2016-05-31',
 'unknown',
 'unknown',
 '2016-05-22',
 'unknown',
 'unknown',
 '2016-05-18',
 '2016-05-15',
 '2016-05-03',
 '2016-05-02',
 '2016-04-25',
 '2016-04-23',
 '2016-04-22',
 '2016-04-19',
 'unknown',
 'unknown',
 '2016-04-13',
 '2016-04-09',
 '2016-04-08',
 'unknown',
 'unknown',
 '2016-03-31',
 '2016-03-30',
 'unknown',
 'unknown',
 '2016-03-26',
 '2016-03-13',
 '2016-03-11',
 '2016-03-10',
 '2016-03-04',
 'unknown',
 '2016-03-02',
 '2016-02-22',
 '2016-02-19',
 '2016-02-12',
 'unknown',
 '2016-02-10',
 '2016-02-05',
 '2016-02-04',
 '2016-02-02',
 '2016-01-29',
 '2016-01-28',
 '2016-01-25',
 'unknown',
 'unknown',
 '2016-01-23',
 'unknown',
 '2016-01-05',
 '2016-01-02',
 '2015-12-26',
 '2015-12-25',
 '2015-12-22',
 'unknown',
 'unknown',
 '2015-12-19',
 '2015-12-13',
 '2015-12-11',
 '2015-12-08',
 '2015-11-20',
 '2015-11-16',
 'unknown',
 'unknown',
 '2015-11-10',
 '2015-12-23',
 '2015-11-03',
 'unknown',
 'unknown',
 '2015-10-30',
 'unknown',
 '2015-10-25',
 '2015-10-21',
 '2015-10-19',
 'unknown',
 'unknown',
 'unknown',
 '2015-10-13',
 'unknown',
 'unknown',
 '2015-10-08',
 '2015-10-07',
 'unknown',
 'unknown',
 '2015-10-04',
 '2015-09-29',
 '2015-09-26',
 '2015-09-24',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2015-09-19',
 '2015-09-18',
 '2015-09-17',
 '2015-09-08',
 '2015-09-06',
 '2015-09-05',
 '2015-09-04',
 '2015-09-03',
 '2015-09-01',
 '2015-09-00',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2015-08-20',
 '2015-08-19',
 'unknown',
 'unknown',
 '2015-08-10',
 '2015-07-31',
 '2015-07-28',
 '2015-07-27',
 'unknown',
 'unknown',
 '2015-07-25',
 'unknown',
 'unknown',
 '2015-07-22',
 '2015-07-19',
 '2015-07-10',
 '2015-07-08',
 '2015-07-06',
 'unknown',
 'unknown',
 '2015-07-03',
 '2015-07-02',
 '2015-07-01',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2015-06-25',
 'unknown',
 'unknown',
 '2015-06-23',
 '2015-06-19',
 '2015-06-17',
 'unknown',
 'unknown',
 '2015-06-13',
 '2015-06-11',
 '2015-06-07',
 '2015-06-05',
 '2015-06-01',
 'unknown',
 'unknown',
 '2015-05-25',
 '2015-05-24',
 '2015-05-20',
 '2015-05-15',
 '2015-05-09',
 '2015-05-07',
 '2015-05-03',
 '2015-05-02',
 '2015-04-29',
 '2015-04-26',
 '2015-04-25',
 'unknown',
 '2015-04-13',
 '2015-04-12',
 '2015-04-11',
 '2015-04-03',
 '2015-03-29',
 '2015-03-31',
 '2015-03-26',
 '2015-03-21',
 '2015-03-18',
 '2015-03-16',
 '2015-03-11',
 '2015-03-10',
 '2015-03-07',
 '2015-02-15',
 '2015-02-14',
 '2015-02-09',
 '2015-02-08',
 '2015-02-05',
 '2015-01-30',
 '2015-01-27',
 '2015-01-24',
 '2015-01-23',
 'unknown',
 'unknown',
 '2015-01-17',
 '2015-01-16',
 '2015-01-08',
 '2015-01-06',
 '2015-01-03',
 '2015-01-01',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2014-12-15',
 'unknown',
 '2014-11-29',
 '2014-11-20',
 '2014-11-19',
 '2014-11-17',
 '2014-11-16',
 '2014-11-13',
 '2014-11-10',
 '2014-11-08',
 '2014-10-31',
 '2014-10-30',
 '2014-10-22',
 '2014-10-20',
 '2014-10-19',
 '2014-10-18',
 '2014-10-17',
 '2014-10-14',
 '2014-10-12',
 '2014-10-11',
 'unknown',
 '2014-10-07',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2014-09-21',
 'unknown',
 '2014-09-13',
 '2014-09-09',
 '2014-09-06',
 '2014-09-03',
 '2014-09-02',
 '2014-09-00',
 '2014-08-31',
 'unknown',
 'unknown',
 '2014-08-28',
 'unknown',
 'unknown',
 'unknown',
 '2014-08-25',
 '2014-08-24',
 '2014-08-16',
 '2014-08-12',
 '2014-08-10',
 'unknown',
 '2014-08-09',
 '2014-08-08',
 '2014-08-06',
 '2014-08-05',
 '2014-08-02',
 '2014-08-02',
 '2014-08-01',
 '2014-08-00',
 '2014-07-27',
 '2014-07-22',
 '2014-07-21',
 '2014-07-20',
 '2014-07-16',
 '2014-07-14',
 '2014-07-13',
 '2014-07-12',
 '2014-07-09',
 'unknown',
 'unknown',
 '2014-07-03',
 'unknown',
 '2014-06-25',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2014-06-08',
 '2014-06-07',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2014-05-23',
 '2014-05-22',
 '2014-05-15',
 '2014-05-14',
 '2014-05-13',
 '2014-05-11',
 'unknown',
 '2014-05-06',
 '2014-05-04',
 '2014-05-01',
 '2014-04-24',
 '2014-04-22',
 '2014-04-15',
 'unknown',
 '2014-04-12',
 'unknown',
 'unknown',
 '2014-04-03',
 '2014-03-29',
 'unknown',
 'unknown',
 '2014-03-21',
 'unknown',
 'unknown',
 '2014-03-18',
 '2014-03-12',
 '2014-03-13',
 '2014-03-02',
 '2014-02-20',
 '2014-02-17',
 '2014-02-08',
 'unknown',
 '2014-02-07',
 '2014-01-26',
 '2014-01-25',
 '2014-01-04',
 'unknown',
 '2014-00-00',
 '2013-12-25',
 '2013-12-16',
 '2013-12-13',
 '2013-12-11',
 '2013-12-10',
 '2013-12-05',
 '2013-12-02',
 '2013-11-30',
 '2013-11-29',
 'unknown',
 '2013-11-22',
 '2013-11-12',
 '2013-11-10',
 'unknown',
 'unknown',
 '2013-10-31',
 '2013-10-28',
 'unknown',
 'unknown',
 '2013-10-24',
 '2013-10-23',
 '2013-10-20',
 '2013-10-19',
 '2013-10-11',
 '2013-10-08',
 '2013-10-05',
 '2013-10-05',
 'unknown',
 'unknown',
 '2013-09-25',
 'unknown',
 'unknown',
 '2013-09-14',
 '2013-09-12',
 '2013-09-08',
 'unknown',
 'unknown',
 '2013-09-02',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2013-08-29',
 '2013-08-26',
 'unknown',
 '2013-08-25',
 '2013-08-18',
 '2013-08-17',
 '2013-08-14',
 '2013-08-13',
 '2013-08-11',
 'unknown',
 '2013-08-05',
 '2013-07-31',
 '2013-07-30',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2013-07-22',
 '2013-07-19',
 'unknown',
 '2013-07-15',
 '2013-07-14',
 '2013-07-11',
 '2013-07-09',
 '2013-07-02',
 '2013-06-30',
 '2013-06-27',
 'unknown',
 'unknown',
 'unknown',
 '2013-06-18',
 '2013-06-17',
 '2013-06-16',
 '2013-06-15',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2013-05-14',
 'unknown',
 'unknown',
 'unknown',
 '2013-04-28',
 '2013-04-24',
 '2013-04-21',
 '2013-04-17',
 '2013-04-14',
 'unknown',
 'unknown',
 '2013-04-10',
 '2013-04-04',
 'unknown',
 'unknown',
 '2013-03-31',
 '2013-03-29',
 'unknown',
 '2013-03-21',
 'unknown',
 'unknown',
 '2013-03-12',
 'unknown',
 'unknown',
 '2013-03-03',
 '2013-02-27',
 'unknown',
 'unknown',
 '2013-02-10',
 '2013-02-09',
 '2013-02-01',
 '2013-01-26',
 '2013-01-25',
 'unknown',
 '2013-01-16',
 '2013-01-13',
 '2013-01-05',
 '2012-12-31',
 '2012-12-30',
 '2012-12-28',
 '2012-12-25',
 '2012-12-19',
 '2012-12-05',
 '2012-12-02',
 '2012-12-00',
 '2012-11-30',
 '2012-11-27',
 '2012-11-22',
 '2012-11-19',
 'unknown',
 'unknown',
 '2012-10-30',
 '2012-10-27',
 '2012-10-23',
 '2012-10-19',
 'unknown',
 'unknown',
 '2012-10-16',
 'unknown',
 '2012-10-07',
 '2012-10-02',
 '2012-09-25',
 '2012-09-24',
 '2012-09-16',
 '2012-09-10',
 '2012-09-09',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2012-09-04',
 'unknown',
 'unknown',
 'unknown',
 '2012-08-31',
 '2012-08-28',
 '2012-08-26',
 '2012-08-15',
 '2012-08-11',
 '2012-08-09',
 '2012-08-05',
 '2012-08-04',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2012-07-24',
 '2012-07-23',
 '2012-07-21',
 '2012-07-19',
 '2012-07-14',
 '2012-07-08',
 'unknown',
 'unknown',
 'unknown',
 '2012-07-06',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2012-06-20',
 '2012-06-19',
 '2012-06-18',
 '2012-06-15',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2012-06-12',
 '2012-06-10',
 '2012-06-03',
 'unknown',
 'unknown',
 '2012-05-31',
 '2012-05-29',
 '2012-05-23',
 '2012-05-20',
 '2012-05-16',
 '2012-05-12',
 '2012-05-09',
 '2012-05-06',
 'unknown',
 'unknown',
 '2012-04-11',
 '2012-04-03',
 '2012-04-00',
 '2012-03-31',
 '2012-03-24',
 '2012-03-22',
 '2012-03-20',
 '2012-03-15',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2012-03-05',
 '2012-03-04',
 '2012-03-03',
 '2012-03-01',
 '2012-02-26',
 '2012-02-25',
 '2012-02-20',
 '2012-02-06',
 '2012-01-27',
 '2012-01-19',
 'unknown',
 'unknown',
 'unknown',
 '2012-01-15',
 '2012-01-13',
 '2012-01-03',
 '2012-01-02',
 '2011-12-31',
 'unknown',
 '2011-12-25',
 '2011-12-23',
 'unknown',
 'unknown',
 '2011-12-11',
 'unknown',
 'unknown',
 '2011-12-06',
 '2011-12-05',
 '2011-12-02',
 '2011-11-29',
 '2011-11-28',
 '2011-11-22',
 'unknown',
 '2011-11-12',
 '2011-11-11',
 'unknown',
 'unknown',
 'unknown',
 '2011-10-22',
 '2011-10-20',
 '2011-10-19',
 '2011-10-11',
 '2011-10-10',
 '2011-10-09',
 '2011-10-05',
 '2011-10-02',
 '2011-10-01',
 '2011-09-30',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2011-09-20',
 '2011-09-19',
 '2011-09-17',
 '2011-09-16',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2011-09-02',
 '2011-08-31',
 'unknown',
 'unknown',
 '2011-08-26',
 'unknown',
 'unknown',
 '2011-08-23',
 '2011-08-18',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2011-08-15',
 '2011-08-11',
 '2011-08-01',
 '2011-07-31',
 '2011-07-30',
 '2011-07-25',
 '2011-07-22',
 '2011-07-19',
 '2011-07-15',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2011-07-06',
 '2011-07-05',
 '2011-06-30',
 '2011-06-29',
 '2011-06-28',
 '2011-06-26',
 '2011-06-24',
 '2011-06-21',
 'unknown',
 'unknown',
 '2011-06-15',
 'unknown',
 '2011-06-12',
 'unknown',
 'unknown',
 'unknown',
 '2011-06-01',
 '2011-05-30',
 '2011-05-29',
 '2011-05-25',
 '2011-05-22',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2011-05-10',
 'unknown',
 '2011-05-04',
 '2011-04-26',
 '2011-04-23',
 '2011-04-22',
 '2011-04-16',
 '2011-04-12',
 '2011-04-08',
 'unknown',
 '2011-03-24',
 '2011-03-23',
 'unknown',
 'unknown',
 '2011-03-16',
 'unknown',
 '2011-03-10',
 'unknown',
 '2011-02-23',
 '2011-02-19',
 '2011-02-17',
 '2011-02-13',
 '2011-02-12',
 'unknown',
 '2011-02-02',
 '2011-01-31',
 '2011-01-28',
 '2011-01-26',
 '2011-01-20',
 '2011-01-15',
 'unknown',
 '2011-01-03',
 '2010-12-26',
 '2010-12-17',
 '2010-12-11',
 '2010-12-05',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2010-11-27',
 '2010-11-19',
 '2010-11-15',
 '2010-11-14',
 'unknown',
 '2010-10-30',
 'unknown',
 '2010-10-28',
 '2010-10-25',
 'unknown',
 'unknown',
 '2010-10-22',
 '2010-10-20',
 '2010-10-09',
 'unknown',
 'unknown',
 '2010-10-01',
 '2010-09-27',
 '2010-09-24',
 '2010-09-21',
 '2010-09-13',
 '2010-09-07',
 'unknown',
 '2010-09-04',
 'unknown',
 'unknown',
 '2010-09-02',
 '2010-08-29',
 '2010-08-18',
 '2010-08-17',
 '2010-08-14',
 'unknown',
 '2010-08-10',
 ...]

In [35]:
lst2=[]

for x in lst: 
    
    if '-00' not in  x:
        lst2.append(x)     #crea una lista en la que si tiene mas de 10 caracteres quite lo que haya a la derecha del ultimo punto y lo añada. pun
        
        
    else:
        x='unknown'       #sino que lo añada a sustituyendolo por undefined
        lst2.append(x)
    
lst2

['2018-06-25',
 '2018-06-18',
 '2018-06-09',
 '2018-06-08',
 '2018-06-04',
 'unknown',
 'unknown',
 '2018-05-27',
 'unknown',
 'unknown',
 '2018-05-24',
 '2018-05-21',
 'unknown',
 'unknown',
 'unknown',
 '2018-05-12',
 '2018-05-09',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2018-04-24',
 '2018-04-23',
 '2018-04-22',
 '2018-04-19',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2018-04-14',
 'unknown',
 '2018-04-09',
 '2018-04-05',
 '2018-04-03',
 '2018-03-31',
 '2018-03-14',
 'unknown',
 'unknown',
 '2018-02-24',
 '2018-02-23',
 '2018-02-17',
 '2018-02-15',
 '2018-02-14',
 '2018-02-11',
 '2018-02-03',
 '2018-02-01',
 '2018-01-28',
 '2018-01-21',
 '2018-01-14',
 '2018-01-13',
 '2018-01-12',
 '2018-01-05',
 '2017-12-31',
 '2017-12-30',
 '2017-12-21',
 '2017-12-09',
 'unknown',
 'unknown',
 'unknown',
 '2017-11-24',
 '2017-11-18',
 'unknown',
 '2017-11-13',
 '2017-11-04',
 'unknown',
 '2017-10-28',
 '2017-10-26',
 'unknown',
 'unknown',
 'unknown',
 '2017-10-22',
 '2017-10-21',
 '2017-10-18',
 '2017-10-09',
 '2017-10-05',
 '2017-10-01',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2017-09-20',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2017-09-14',
 '2017-09-13',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2017-08-29',
 '2017-08-27',
 'unknown',
 'unknown',
 '2017-08-23',
 '2017-08-18',
 '2017-08-10',
 '2017-08-05',
 '2017-08-03',
 '2017-08-01',
 '2017-07-31',
 'unknown',
 'unknown',
 '2017-07-27',
 'unknown',
 '2017-07-24',
 'unknown',
 'unknown',
 '2017-07-22',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2017-07-11',
 '2017-07-09',
 'unknown',
 '2017-07-07',
 '2017-07-02',
 '2017-06-29',
 '2017-06-21',
 '2017-06-19',
 'unknown',
 'unknown',
 '2017-06-17',
 '2017-06-05',
 'unknown',
 '2017-06-11',
 'unknown',
 'unknown',
 'unknown',
 '2017-06-04',
 '2017-06-02',
 '2017-05-30',
 '2017-05-28',
 '2017-05-27',
 '2017-05-12',
 'unknown',
 '2017-05-06',
 '2017-05-03',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2017-04-27',
 '2017-04-26',
 '2017-04-22',
 '2017-04-20',
 'unknown',
 'unknown',
 '2017-04-14',
 '2017-04-13',
 'unknown',
 'unknown',
 '2017-04-11',
 'unknown',
 'unknown',
 '2017-04-06',
 '2017-04-05',
 'unknown',
 'unknown',
 '2017-03-27',
 '2017-03-19',
 '2017-03-18',
 '2017-03-11',
 '2017-03-09',
 '2017-02-25',
 '2017-02-24',
 '2017-02-21',
 '2017-02-17',
 '2017-02-11',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2017-01-24',
 '2017-01-22',
 '2017-01-21',
 'unknown',
 'unknown',
 '2017-01-09',
 'unknown',
 '2017-01-05',
 '2017-01-03',
 '2016-12-27',
 '2016-12-24',
 '2016-12-19',
 '2016-12-14',
 'unknown',
 'unknown',
 '2016-12-06',
 '2016-12-01',
 '2016-11-28',
 '2016-11-14',
 '2016-10-30',
 '2016-10-29',
 '2016-10-24',
 '2016-10-21',
 '2016-10-15',
 '2016-10-14',
 'unknown',
 '2016-10-12',
 '2016-10-10',
 '2016-10-02',
 '2016-10-01',
 '2016-09-26',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2016-09-15',
 'unknown',
 '2016-09-11',
 '2016-09-07',
 '2016-09-06',
 'unknown',
 'unknown',
 '2016-09-04',
 '2016-09-01',
 'unknown',
 'unknown',
 'unknown',
 '2016-08-27',
 '2016-08-25',
 '2016-08-07',
 '2016-08-06',
 '2016-08-04',
 '2016-07-29',
 'unknown',
 '2016-07-28',
 '2016-07-27',
 '2016-07-26',
 '2016-07-24',
 'unknown',
 'unknown',
 '2016-07-20',
 '2016-07-17',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2016-07-08',
 'unknown',
 'unknown',
 '2016-07-06',
 '2016-07-04',
 '2016-06-27',
 '2016-06-25',
 '2016-06-24',
 '2016-06-23',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2016-06-14',
 '2016-06-11',
 '2016-06-07',
 'unknown',
 'unknown',
 '2016-06-04',
 'unknown',
 'unknown',
 '2016-05-31',
 'unknown',
 'unknown',
 '2016-05-22',
 'unknown',
 'unknown',
 '2016-05-18',
 '2016-05-15',
 '2016-05-03',
 '2016-05-02',
 '2016-04-25',
 '2016-04-23',
 '2016-04-22',
 '2016-04-19',
 'unknown',
 'unknown',
 '2016-04-13',
 '2016-04-09',
 '2016-04-08',
 'unknown',
 'unknown',
 '2016-03-31',
 '2016-03-30',
 'unknown',
 'unknown',
 '2016-03-26',
 '2016-03-13',
 '2016-03-11',
 '2016-03-10',
 '2016-03-04',
 'unknown',
 '2016-03-02',
 '2016-02-22',
 '2016-02-19',
 '2016-02-12',
 'unknown',
 '2016-02-10',
 '2016-02-05',
 '2016-02-04',
 '2016-02-02',
 '2016-01-29',
 '2016-01-28',
 '2016-01-25',
 'unknown',
 'unknown',
 '2016-01-23',
 'unknown',
 '2016-01-05',
 '2016-01-02',
 '2015-12-26',
 '2015-12-25',
 '2015-12-22',
 'unknown',
 'unknown',
 '2015-12-19',
 '2015-12-13',
 '2015-12-11',
 '2015-12-08',
 '2015-11-20',
 '2015-11-16',
 'unknown',
 'unknown',
 '2015-11-10',
 '2015-12-23',
 '2015-11-03',
 'unknown',
 'unknown',
 '2015-10-30',
 'unknown',
 '2015-10-25',
 '2015-10-21',
 '2015-10-19',
 'unknown',
 'unknown',
 'unknown',
 '2015-10-13',
 'unknown',
 'unknown',
 '2015-10-08',
 '2015-10-07',
 'unknown',
 'unknown',
 '2015-10-04',
 '2015-09-29',
 '2015-09-26',
 '2015-09-24',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2015-09-19',
 '2015-09-18',
 '2015-09-17',
 '2015-09-08',
 '2015-09-06',
 '2015-09-05',
 '2015-09-04',
 '2015-09-03',
 '2015-09-01',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2015-08-20',
 '2015-08-19',
 'unknown',
 'unknown',
 '2015-08-10',
 '2015-07-31',
 '2015-07-28',
 '2015-07-27',
 'unknown',
 'unknown',
 '2015-07-25',
 'unknown',
 'unknown',
 '2015-07-22',
 '2015-07-19',
 '2015-07-10',
 '2015-07-08',
 '2015-07-06',
 'unknown',
 'unknown',
 '2015-07-03',
 '2015-07-02',
 '2015-07-01',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2015-06-25',
 'unknown',
 'unknown',
 '2015-06-23',
 '2015-06-19',
 '2015-06-17',
 'unknown',
 'unknown',
 '2015-06-13',
 '2015-06-11',
 '2015-06-07',
 '2015-06-05',
 '2015-06-01',
 'unknown',
 'unknown',
 '2015-05-25',
 '2015-05-24',
 '2015-05-20',
 '2015-05-15',
 '2015-05-09',
 '2015-05-07',
 '2015-05-03',
 '2015-05-02',
 '2015-04-29',
 '2015-04-26',
 '2015-04-25',
 'unknown',
 '2015-04-13',
 '2015-04-12',
 '2015-04-11',
 '2015-04-03',
 '2015-03-29',
 '2015-03-31',
 '2015-03-26',
 '2015-03-21',
 '2015-03-18',
 '2015-03-16',
 '2015-03-11',
 '2015-03-10',
 '2015-03-07',
 '2015-02-15',
 '2015-02-14',
 '2015-02-09',
 '2015-02-08',
 '2015-02-05',
 '2015-01-30',
 '2015-01-27',
 '2015-01-24',
 '2015-01-23',
 'unknown',
 'unknown',
 '2015-01-17',
 '2015-01-16',
 '2015-01-08',
 '2015-01-06',
 '2015-01-03',
 '2015-01-01',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2014-12-15',
 'unknown',
 '2014-11-29',
 '2014-11-20',
 '2014-11-19',
 '2014-11-17',
 '2014-11-16',
 '2014-11-13',
 '2014-11-10',
 '2014-11-08',
 '2014-10-31',
 '2014-10-30',
 '2014-10-22',
 '2014-10-20',
 '2014-10-19',
 '2014-10-18',
 '2014-10-17',
 '2014-10-14',
 '2014-10-12',
 '2014-10-11',
 'unknown',
 '2014-10-07',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2014-09-21',
 'unknown',
 '2014-09-13',
 '2014-09-09',
 '2014-09-06',
 '2014-09-03',
 '2014-09-02',
 'unknown',
 '2014-08-31',
 'unknown',
 'unknown',
 '2014-08-28',
 'unknown',
 'unknown',
 'unknown',
 '2014-08-25',
 '2014-08-24',
 '2014-08-16',
 '2014-08-12',
 '2014-08-10',
 'unknown',
 '2014-08-09',
 '2014-08-08',
 '2014-08-06',
 '2014-08-05',
 '2014-08-02',
 '2014-08-02',
 '2014-08-01',
 'unknown',
 '2014-07-27',
 '2014-07-22',
 '2014-07-21',
 '2014-07-20',
 '2014-07-16',
 '2014-07-14',
 '2014-07-13',
 '2014-07-12',
 '2014-07-09',
 'unknown',
 'unknown',
 '2014-07-03',
 'unknown',
 '2014-06-25',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2014-06-08',
 '2014-06-07',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2014-05-23',
 '2014-05-22',
 '2014-05-15',
 '2014-05-14',
 '2014-05-13',
 '2014-05-11',
 'unknown',
 '2014-05-06',
 '2014-05-04',
 '2014-05-01',
 '2014-04-24',
 '2014-04-22',
 '2014-04-15',
 'unknown',
 '2014-04-12',
 'unknown',
 'unknown',
 '2014-04-03',
 '2014-03-29',
 'unknown',
 'unknown',
 '2014-03-21',
 'unknown',
 'unknown',
 '2014-03-18',
 '2014-03-12',
 '2014-03-13',
 '2014-03-02',
 '2014-02-20',
 '2014-02-17',
 '2014-02-08',
 'unknown',
 '2014-02-07',
 '2014-01-26',
 '2014-01-25',
 '2014-01-04',
 'unknown',
 'unknown',
 '2013-12-25',
 '2013-12-16',
 '2013-12-13',
 '2013-12-11',
 '2013-12-10',
 '2013-12-05',
 '2013-12-02',
 '2013-11-30',
 '2013-11-29',
 'unknown',
 '2013-11-22',
 '2013-11-12',
 '2013-11-10',
 'unknown',
 'unknown',
 '2013-10-31',
 '2013-10-28',
 'unknown',
 'unknown',
 '2013-10-24',
 '2013-10-23',
 '2013-10-20',
 '2013-10-19',
 '2013-10-11',
 '2013-10-08',
 '2013-10-05',
 '2013-10-05',
 'unknown',
 'unknown',
 '2013-09-25',
 'unknown',
 'unknown',
 '2013-09-14',
 '2013-09-12',
 '2013-09-08',
 'unknown',
 'unknown',
 '2013-09-02',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2013-08-29',
 '2013-08-26',
 'unknown',
 '2013-08-25',
 '2013-08-18',
 '2013-08-17',
 '2013-08-14',
 '2013-08-13',
 '2013-08-11',
 'unknown',
 '2013-08-05',
 '2013-07-31',
 '2013-07-30',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2013-07-22',
 '2013-07-19',
 'unknown',
 '2013-07-15',
 '2013-07-14',
 '2013-07-11',
 '2013-07-09',
 '2013-07-02',
 '2013-06-30',
 '2013-06-27',
 'unknown',
 'unknown',
 'unknown',
 '2013-06-18',
 '2013-06-17',
 '2013-06-16',
 '2013-06-15',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2013-05-14',
 'unknown',
 'unknown',
 'unknown',
 '2013-04-28',
 '2013-04-24',
 '2013-04-21',
 '2013-04-17',
 '2013-04-14',
 'unknown',
 'unknown',
 '2013-04-10',
 '2013-04-04',
 'unknown',
 'unknown',
 '2013-03-31',
 '2013-03-29',
 'unknown',
 '2013-03-21',
 'unknown',
 'unknown',
 '2013-03-12',
 'unknown',
 'unknown',
 '2013-03-03',
 '2013-02-27',
 'unknown',
 'unknown',
 '2013-02-10',
 '2013-02-09',
 '2013-02-01',
 '2013-01-26',
 '2013-01-25',
 'unknown',
 '2013-01-16',
 '2013-01-13',
 '2013-01-05',
 '2012-12-31',
 '2012-12-30',
 '2012-12-28',
 '2012-12-25',
 '2012-12-19',
 '2012-12-05',
 '2012-12-02',
 'unknown',
 '2012-11-30',
 '2012-11-27',
 '2012-11-22',
 '2012-11-19',
 'unknown',
 'unknown',
 '2012-10-30',
 '2012-10-27',
 '2012-10-23',
 '2012-10-19',
 'unknown',
 'unknown',
 '2012-10-16',
 'unknown',
 '2012-10-07',
 '2012-10-02',
 '2012-09-25',
 '2012-09-24',
 '2012-09-16',
 '2012-09-10',
 '2012-09-09',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2012-09-04',
 'unknown',
 'unknown',
 'unknown',
 '2012-08-31',
 '2012-08-28',
 '2012-08-26',
 '2012-08-15',
 '2012-08-11',
 '2012-08-09',
 '2012-08-05',
 '2012-08-04',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2012-07-24',
 '2012-07-23',
 '2012-07-21',
 '2012-07-19',
 '2012-07-14',
 '2012-07-08',
 'unknown',
 'unknown',
 'unknown',
 '2012-07-06',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2012-06-20',
 '2012-06-19',
 '2012-06-18',
 '2012-06-15',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2012-06-12',
 '2012-06-10',
 '2012-06-03',
 'unknown',
 'unknown',
 '2012-05-31',
 '2012-05-29',
 '2012-05-23',
 '2012-05-20',
 '2012-05-16',
 '2012-05-12',
 '2012-05-09',
 '2012-05-06',
 'unknown',
 'unknown',
 '2012-04-11',
 '2012-04-03',
 'unknown',
 '2012-03-31',
 '2012-03-24',
 '2012-03-22',
 '2012-03-20',
 '2012-03-15',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2012-03-05',
 '2012-03-04',
 '2012-03-03',
 '2012-03-01',
 '2012-02-26',
 '2012-02-25',
 '2012-02-20',
 '2012-02-06',
 '2012-01-27',
 '2012-01-19',
 'unknown',
 'unknown',
 'unknown',
 '2012-01-15',
 '2012-01-13',
 '2012-01-03',
 '2012-01-02',
 '2011-12-31',
 'unknown',
 '2011-12-25',
 '2011-12-23',
 'unknown',
 'unknown',
 '2011-12-11',
 'unknown',
 'unknown',
 '2011-12-06',
 '2011-12-05',
 '2011-12-02',
 '2011-11-29',
 '2011-11-28',
 '2011-11-22',
 'unknown',
 '2011-11-12',
 '2011-11-11',
 'unknown',
 'unknown',
 'unknown',
 '2011-10-22',
 '2011-10-20',
 '2011-10-19',
 '2011-10-11',
 '2011-10-10',
 '2011-10-09',
 '2011-10-05',
 '2011-10-02',
 '2011-10-01',
 '2011-09-30',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2011-09-20',
 '2011-09-19',
 '2011-09-17',
 '2011-09-16',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2011-09-02',
 '2011-08-31',
 'unknown',
 'unknown',
 '2011-08-26',
 'unknown',
 'unknown',
 '2011-08-23',
 '2011-08-18',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2011-08-15',
 '2011-08-11',
 '2011-08-01',
 '2011-07-31',
 '2011-07-30',
 '2011-07-25',
 '2011-07-22',
 '2011-07-19',
 '2011-07-15',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2011-07-06',
 '2011-07-05',
 '2011-06-30',
 '2011-06-29',
 '2011-06-28',
 '2011-06-26',
 '2011-06-24',
 '2011-06-21',
 'unknown',
 'unknown',
 '2011-06-15',
 'unknown',
 '2011-06-12',
 'unknown',
 'unknown',
 'unknown',
 '2011-06-01',
 '2011-05-30',
 '2011-05-29',
 '2011-05-25',
 '2011-05-22',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2011-05-10',
 'unknown',
 '2011-05-04',
 '2011-04-26',
 '2011-04-23',
 '2011-04-22',
 '2011-04-16',
 '2011-04-12',
 '2011-04-08',
 'unknown',
 '2011-03-24',
 '2011-03-23',
 'unknown',
 'unknown',
 '2011-03-16',
 'unknown',
 '2011-03-10',
 'unknown',
 '2011-02-23',
 '2011-02-19',
 '2011-02-17',
 '2011-02-13',
 '2011-02-12',
 'unknown',
 '2011-02-02',
 '2011-01-31',
 '2011-01-28',
 '2011-01-26',
 '2011-01-20',
 '2011-01-15',
 'unknown',
 '2011-01-03',
 '2010-12-26',
 '2010-12-17',
 '2010-12-11',
 '2010-12-05',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2010-11-27',
 '2010-11-19',
 '2010-11-15',
 '2010-11-14',
 'unknown',
 '2010-10-30',
 'unknown',
 '2010-10-28',
 '2010-10-25',
 'unknown',
 'unknown',
 '2010-10-22',
 '2010-10-20',
 '2010-10-09',
 'unknown',
 'unknown',
 '2010-10-01',
 '2010-09-27',
 '2010-09-24',
 '2010-09-21',
 '2010-09-13',
 '2010-09-07',
 'unknown',
 '2010-09-04',
 'unknown',
 'unknown',
 '2010-09-02',
 '2010-08-29',
 '2010-08-18',
 '2010-08-17',
 '2010-08-14',
 'unknown',
 '2010-08-10',
 ...]

In [36]:
df['casenumber']=lst2   # sustituye la lista (lst) creada en la columna case_number

In [37]:
df.casenumber.value_counts()

unknown       2559
2005-04-06       2
1990-05-10       2
2014-08-02       2
2009-12-18       2
              ...
2000-09-11       1
2000-08-31       1
2000-08-30       1
2000-08-21       1
1703-03-26       1
Name: casenumber, Length: 3737, dtype: int64

In [38]:
df[['casenumber','date','casenumber_1','casenumber_2','year']].iloc[6140:6170]

      casenumber                      date  casenumber_1  casenumber_2    year
6140  1784-12-12               12-Dec-1784    1784.12.12    1784.12.12  1784.0
6141  1783-03-02               02-Mar-1783    1783.03.02    1783.03.02  1783.0
6142  1780-08-08               08-Aug-1780    1780.08.08    1780.08.08  1780.0
6143     unknown                      1779    1779.00.00    1779.00.00  1779.0
6144     unknown             Reported 1776  1776.00.00.R  1776.00.00.R  1776.0
6145     unknown                      1776  1776.00.00.b  1776.00.00.b  1776.0
6146     unknown      Reported 12-Jul-1771  1771.07.12.R  1771.07.12.R  1771.0
6147     unknown                      1767    1767.00.00    1767.00.00  1767.0
6148     unknown                      1764    1764.00.00    1764.00.00  1764.0
6149     unknown                      1758    1758.00.00    1758.00.00  1758.0
6150     unknown      Reported 27-Oct-1753  1753.10.27.R  1753.10.27.R  1753.0
6151  1751-07-27               27-Jul-1751    1751.07.27    1751.07.27  1751.0
6152     unknown                      1749    1749.00.00    1749.00.00  1749.0
6153     unknown                      1755    1755.00.00    1755.00.00  1755.0
6154     unknown                      1748    1748.00.00    1748.00.00  1748.0
6155  1742-12-17               17-Dec-1742    1742.12.17    1742.12.17  1742.0
6156     unknown      Reported 06-Apr-1738  1738.04.06.R  1738.04.06.R  1738.0
6157     unknown                      1733    1733.00.00    1733.00.00  1733.0
6158     unknown                      1723    1723.00.00    1723.00.00  1723.0
6159     unknown                 June 1721    1721.06.00    1721.06.00  1721.0
6160  1703-03-26               26-Mar-1703    1703.03.26    1703.03.26  1703.0
6161     unknown                     1700s  1700.00.00.c  1700.00.00.c  1700.0
6162     unknown                     1700s  1700.00.00.b  1700.00.00.b  1700.0
6163     unknown                     1700s  1700.00.00.a  1700.00.00.a  1700.0
6164     unknown  Late 1600s Reported 1728  1642.00.00.b  1642.00.00.b  1642.0
6165     unknown             Reported 1638  1638.00.00.R  1638.00.00.R  1638.0
6166     unknown             Reported 1637  1637.00.00.R  1637.00.00.R  1637.0
6167     unknown             Reported 1617  1617.00.00.R  1617.00.00.R  1617.0
6168     unknown                      1642    1642.00.00    1642.00.00  1642.0
6169     unknown                      1595    1595.00.00    1595.00.00  1595.0

In [39]:
df_fecha=df[df.casenumber!= 'unknown']   #nuevo data frame filtrado por fechas que no sean unkwon

In [40]:
df_fecha=df_fecha.sort_values(by=['casenumber'], ascending=False)  #ordenado por fecha en modo descendente
df_fecha.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species,investigatororsource,pdf,hrefformula,href,casenumber_1,casenumber_2,originalorder
0,2018-06-25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018-06-18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018-06-09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018-06-08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018-06-04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

In [41]:
nan_cols=df.isna().sum()  # serie con los valores nulos por columna

nan_cols[nan_cols>0]

date                       1
year                       3
type                       5
country                   51
area                     456
location                 541
activity                 545
name                     211
sex                      566
age                     2832
injury                    29
fatal                    540
time                    3355
species                 2839
investigatororsource      18
pdf                        1
hrefformula                2
href                       1
casenumber_1               1
casenumber_2               1
dtype: int64

In [42]:
df.type.value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: type, dtype: int64

In [43]:
type_null=df[df.type.isna()]        #nulos en type
type_null

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species,investigatororsource,pdf,hrefformula,href,casenumber_1,casenumber_2,originalorder
85,unknown,15-Sep-2017,2017.0,NaN,SAMOA,Upolu Island,Nofoalii,Fishing,male,M,NaN,Injuries to hands and legs,N,Night,NaN,"Samoa Observer, 9/16/2017",2017.09.15.a-Samoa.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.15.a,2017.09.15.a,6218.0
382,2015-07-27,27-Jul-2015,2015.0,NaN,AUSTRALIA,Victoria,Tyrendarra Beach,Surfing,male,M,40,Injury to hand,NaN,NaN,NaN,NaN,2015.07.27-Victoria.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.07.27,2015.07.27,5921.0
4867,unknown,Reported 11-Sep-1936,1936.0,NaN,VIETNAM,NaN,Saigon,Wreck of a sampam,8 crew,M,NaN,FATAL,Y,NaN,NaN,"Lansing State Journal, 9/11/1936",1936.09.11-Saigon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1936.09.11.R,1936.09.11.R,1436.0
5705,unknown,Reported 03-Mar-1890,1890.0,NaN,CEYLON,NaN,NaN,Diving,a pearl diver,M,NaN,FATAL,Y,NaN,NaN,"The Guardian, 3/3/1890",1890.03.03.R-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1890.03.03.R,1890.03.03.R,598.0
6302,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0

In [44]:
df['type'].fillna('unknown',inplace=True)

In [45]:
df.type.value_counts()      #comprobar que ya no hay nulos

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
unknown            5
Questionable       2
Boatomg            1
Name: type, dtype: int64

In [46]:
#correccion mala nomenclatura en type

df['type'].replace(['Boating', 'Boatomg', 'Questionable'],['Boat', 'Boat', 'unknown'], inplace=True)

In [47]:
df.type.value_counts()       #correccion mala nomenclatura en type

Unprovoked      4595
Provoked         574
Invalid          547
Boat             341
Sea Disaster     239
unknown            7
Name: type, dtype: int64

In [48]:
df.fatal.value_counts()         #valores distintos en fatal

N          4293
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: fatal, dtype: int64

In [49]:
df['fatal'].replace(['M',' N','N ','2017','y','UNKNOWN'],['N','N','N','N','Y','unknown'], inplace=True)  #m,n y

In [50]:
df.fatal.value_counts()

N          4303
Y          1389
unknown      71
Name: fatal, dtype: int64

In [51]:
df.sex.value_counts()       #valores distintos en sex

M      5094
F       637
M         2
N         2
lli       1
.         1
Name: sex, dtype: int64

In [52]:
df['sex'].fillna('unknown', inplace=True)   #quitamos nulos de sex

In [53]:
keyword = 'lli' #sirve para buscar en mi dataframe
select = df[df.sex.str.contains(keyword, regex=True)]
select.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species,investigatororsource,pdf,hrefformula,href,casenumber_1,casenumber_2,originalorder
1624,unknown,11-Nov-2004,2004.0,Unprovoked,USA,California,"Bunkers, Humboldt Bay, Eureka, Humboldt County",Surfing,Brian Kang,lli,38,"Lacerations to hand, knee & thigh",N,13h30,5.5 m [18'] white shark,"R. Collier, GSAF",2004.11.11.b-Kang.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2004.11.11.b,2004.11.11.b,4679.0

In [54]:
df.at[1624,'sex']='M'

In [55]:
df['sex'].replace(['.','M ','N'],['unknown','M','unknown',], inplace=True)

In [56]:
df.sex.value_counts()

M          5097
F           637
unknown     569
Name: sex, dtype: int64

In [57]:
df[df.year.isna()]        #nulos en type

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species,investigatororsource,pdf,hrefformula,href,casenumber_1,casenumber_2,originalorder
187,unknown,Reported 08-Jan-2017,NaN,Invalid,AUSTRALIA,Queensland,NaN,Spearfishing,Kerry Daniel,M,35,"No attack, shark made a threat display",NaN,NaN,Bull shark,Liquid Vision 1/8/2017,2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.01.08.R,2017.01.08.R,6116.0
6079,unknown,Reported 19-Aug-1836,NaN,Unprovoked,ENGLAND,Cumberland,Whitehaven,Swimming,a boy,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1835.08.19.R-Whitehaven.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1836.08.19.R,1836.08.19.R,224.0
6302,unknown,NaN,NaN,unknown,NaN,NaN,NaN,NaN,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0

In [58]:
df['year'].fillna('unknown', inplace=True)   #quitamos nulos de year

In [59]:
df.loc[df['year']=='unknown']

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species,investigatororsource,pdf,hrefformula,href,casenumber_1,casenumber_2,originalorder
187,unknown,Reported 08-Jan-2017,unknown,Invalid,AUSTRALIA,Queensland,NaN,Spearfishing,Kerry Daniel,M,35,"No attack, shark made a threat display",NaN,NaN,Bull shark,Liquid Vision 1/8/2017,2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.01.08.R,2017.01.08.R,6116.0
6079,unknown,Reported 19-Aug-1836,unknown,Unprovoked,ENGLAND,Cumberland,Whitehaven,Swimming,a boy,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1835.08.19.R-Whitehaven.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1836.08.19.R,1836.08.19.R,224.0
6302,unknown,NaN,unknown,unknown,NaN,NaN,NaN,NaN,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0

In [60]:
df.at[187,'year']=2017
df.at[6079,'year']=1836
df.at[6302,'year']=1836

In [61]:
df['year']=df['year'].astype('int')

In [63]:
df['species'].fillna('unknown', inplace=True)

In [64]:
df['species'] = df['species'].str.lower()

In [65]:
df.species.unique().sum()

'white sharkunknown2 m sharktiger shark, 3mtiger sharklemon shark, 3\'bull shark, 6\'grey reef sharkinvalid incidenttawny nurse shark, 2mshark involvement not confirmedquestionable3 m sharkwhite shark, 3.5 mwhite shark, 2.5 m6\' sharkjuvenile bull sharkbull sharktiger shark, 12\'wobbegong shark3.5 m shark1.8 m sharkblacktip sharkjuvenile white shark,  2.7 to 3.2 mbull shark, 2 mpossibly a wobbegonginjury believed caused by an eel, not a sharkgalapagos shark?2m sharkbull shark, 3 m grey reef shark. 2 msmall sharkwobbegong shark?juvenile nurse sharknurse shark. 5\'tiger shark, femalesome drowned but other may have been killed by blue sharkswhite shark, 4.6 mcookiecutter sharkwobbegong shark, 1 mwhite shark, 4.5 mspinner shark, 4 to 5 feettiger shark, 8 to 10 feet8\' sharkdeath may have been due to drowning5\' shark4\' to 5\' sharkporbeagle, 1.5 mwhite shark, 3.5m5\' to 6\' sharkwhite shark, 3 to 3.5m nurse sharkwhite shark, 3 mshark involvement questionablewhite shark, 5\' to 7\'possibly a juvenile blacktip sharkoceanic whitetip shark, 1.8 to 2 m4\' sharkwhite shark, 10\'a small sharksandtiger shark  2\'blue shark 6\'"a small shark"white shark, 11\' to 13\'white shark, 8\' to 10\'white shark, 9\'bull shark, 4\' to 5\'tiger shark, 100 kgshark involvement prior to death not confirmedno shark invovlement bull shark, 2mwhite shark, 4 mseven-gill shark3m shark, probably a smooth hound3\' shark9\' sharkshark involvement highly doubtfulno shark invovlement - it ws a publicity stuntbull shark, 5\' to 7\'10\' sharklemon sharkbull shark, 1.5lemon shark pupwhite shark, female, 14\'caribbean reef sharkbull shark, 4 mbull shark, 1 mwobbegong shark, 2mbroadnose sevengill shark, 1.5 m 6\' to 8\' shark3\' to 4\' sharktiger shark, 10\'invalidbull shark, 3.5 mtiger shark, 10\' blue sharknurse shark, 4\'reef shark, 1mwhite shark, 10\' to 12\'lemon shark, 9\'angel sharkdogfish sharktawny nurse sharkcaribbean reef shark, 4.5\'3\' to 5\' sharksaid to involve an 8\' shark but more likely damage caused by debris3+ m sharkmako sharkbronze whaler sharks x 3blacktip shark, 4\'nurse shark, 2\'mako shark, 1.5 m [5\'] grey reef shark, 2 mbull shark, 7\'tiger shark, 2.5 mnurse shark, 2.5-ftbronze whalersandtiger sharkno shark involvementreef shark, 5\'bull sharks x 2tiger shark, 14\'silky shark, 6.5\'bronze whaler shark, 6\'tiger shark, 1.5 m galapagos sharkspinner shark, 7\'bull shark, 2.8 to 3.1 mspinner shark, 5\'tiger shark, 7\'hammerhead sp.tiger shark, 13\' blacktip shark, 4\' to 5\'blacktip shark, 5\' to 6\'white shark, 19\'juvenile sharktiger shark, 13\'hammerhead sharkwhite shark, 11\' to 12\'hammerhead shark.4\' shark?white shark, 10\' to 12\' white shark, 13\'hammerhead shark. 6\' to 7\'blacktip or spinner shark, 4\'thought to involve a 3\' to 4\' shark, but shark involvement not confirmedwhite shark, 3.9 to 4.2 mmako shark, 100-lbbronze whaler shark, 1.5mwhite shark, 7\'shark involvement not cofirmed6\' to 7\' sharkwhite shark, 2m to 3 mbull shark, 5\'small nurse sharkbull shark, 2.5 m1m to 1.2 m shark3- to 4-foot sharkwhite shark, 6 mblue shark, 8 to 9 feettiger shark, 8 to 12 feetblacktip reef shark tiger shark, 3.5 m3.5 to 4 m shark2 m to  3 m sharkbull shark, 1.3 m5 m shark1.5 m sharkwhite shark or oceanic whitetip sharkraggedtooth shark, 1.3 mwhite shark, 4 to 5 mshark involvement prior to death still to be determinedshark involvement not confirmed & highly unlikelygoblin shark2\' shark12\' to 14\' shark1 m sharkbull shark, 3\' to 4\'white shark, 18\' to 20\'8\' to 10\' shark2 white shark: 13\' & 9"8"7\' sharkwhite shark, 12\' to 14\'spinner sharkspinner shark or blacktip shark4\' to 6\' sharkbull shark, 4.5\' reef shark bull shark, 8\'bull shark, 9\' to 10\' bull shark, 5\'4\' tp 5\' sharkpossibly juvenile tiger shark1.8 metre shark6\' to 8\' shark white shark, 7\' oceanic whitetip shark\'caribbean reef shark, 7\' to 8\' lemon shark, 3.5 m sandbar shark, 3\' to 4\' bull shark, 1.2m 3m shark tawney nurse shark, 1m white shark, 15\' cow sharkreef shark? raggedtooth shark, 2m3 m to 4 m white sharkblacktip or spinner shark?7-gill shark?1m shark7-gill sharkoceanic whitetip sharkreported to involve a bull sharkwhite shark, 3m tiger shark, 10\' to 12\' wobbegong shark, 1.6 to 1.8m tiger shark, 3m thought to involve a white sharkwhite shark, 10 \'reported to involve a white sharkblacktip reef shark, 1mthought to involve a bull sharkreported to involve a 4 m white sharkwhitetip reef shark, 4\' to 6\'nurse shark?small bull sharksalmon sharkmako shark, 5\'tiger shark?bull shark, 8\'bull shark, 6\' to 8\'tiger shark, 8\' to 10\' possibly a bull shark, 3\'lemon shark, 4\'wobbegong, 2mgrey nurse shark, 3mpossibly a blacktip reef sharkraggedtooth shark, 1.5 mtiger shark, 4.8 mbronze whaler shark, 2.5m"small sharks"white shark, 4mwhite shark, 5mtiger shark, 15\'bronze whaler shark, 3m2.5 m sharkbull shark, 2m tiger shark, 6\'2\' to 3\' sharktiger shark, 8\'tiger shark, 10\' to 12\' white shark, 15\' to 16\' possibly a 3 m bull shark3.5\' to 4\' sharkporbeagle shark, 7\'4.5 m sharklemon shark, 4\' to 5\' lemon shark, 2.5m to 3m white shark or bronze whalersalmon shark suspected, but unlikely14\' to 18\'shark15\' sharkpossibly a bull sharka small reef sharksmall blacktip shark?blacktip shark blue shark, 2.5mwhite shark, 2 m18" to 24" sharkbull shark, 3mtiger shark, 8\' to 9\' white shark, 4 m to 5m white shark, 6m tiger shark, 10\'  white shark, 4m possibly a 5\' to 6\' bull sharktawny nurse shark, 40cmgrey nurse sharkwhite shark, 7mblue shark, 70-kg blue sharkwhite shark, 2.7 mallegedly a 4 m tiger shark7\' to 8\' shark white shark, 2.5mwhite shark, 15\' to 16\'raggedtooth sharkwhite shark, 15\'port jackson shark, 1m10\' to 12\' shark2 to 2.5 m sharktiger shark, 2m6\' shark, possibly a blactip or spinner sharkwhite shark, >6\'possibly a 5\' to 6\' sandtiger shark4 m sharkgrey reef shark white shark, 3m to 4mbull shark, 3m femalewhite shark, 5\' koceanic whitetip shark, 7\'sevengill shark, 6\' to 8\'zambesi shark tiger shark, 2.8msandbar shark, 8\'bull shark, 12\'reef shark, 1.5m1\' to 2\' sharkpossibly a bronze whaler shark bull shark, 2.5 mblacktip shark pupbull shark, 2.5m3 m to 4 m sharkwhite shark x 2oceanic whitetip shark, 2.5m mako shark oceanic whitetip shark, 2.5m, femaleporbeagle shark, 8\' white shark, 14\' to 18\' bull shark, 1.4m possibly a 6\' lemon sharkshark involvement prior to death was not confirmedpossibly a small blacktip sharksandtiger shark, 4\' to 5\'a small spinner sharknurse shark, juvenile blue shark, 7\'20 to 30kg sharklemon shark, 6\'14\' sharkoceanic whitetip shark, 6\'possibly a blue sharkwobbegong shark, 1.6m2 m to 3 m sharkspinner shark, 6\'thought to involve a juvenile hammerhead sharkwhitetip reef shark, 1mzambesi shark, 2m white shark, 2.8 to 3 m sandtiger shark, 8\'thresher sharkbull shark, 10\'spurdogwhite shark, 5\' to 6\' juvenile white shark, 2mtiger shark, 12bull shark?caribbean reef shark, 6\'nurse shark, 6\'thought to involve a bronze whale shark, 2mshark involvement probable, but not confirmedoceanic whitetip shark, 2.5 to 3m80 kg shark5\' to 8\' sharkblacktip or spinner sharkwhite shark, 12\' to 15\' femalebronze whaler shark?blacktip reef shark pupthought to involve a cookie cutter sharkwobbegong shark, 60cmblue shark, 1m2.6 m sharkwhite shark, 2.5m bull shark, 2.7 m white shark, 12\' white shark, 5.5 m white sharksdusky shark, 2mmako shark, 3mbroadnose sevengill sharkwhite shark, 4m to 5m 4 to 5m white sharkraggedtooth shark, 2mwhite shark, 4.5 to 5 m zambesi shark?bronze whaler shark reef shark, 1.8m5 m white shark+3\' shark2\' to 3\' juvenile sharkwhite shark, 14\' to 16\' 8\' bull shark or caribbean reef shark8\' white shark or 7-gill shark3\'  shark2\'  shark2\' to 3\' reef sharkstarry smoothhound shark, 1mbull shark, 6\' to 7\'white shark, 4.5m4.5 to 5\' sharkbasking sharktiger sharks in area2 small bull sharksbull shark, 1.8mwhite shark, 12\' to 15\'tiger shark, 2.3m tiger shark, 13\' femalereported by media as shark attack, but shark involvement prior to death was not confirmedshark involvement not confirmed; thought to be a barracuda bite1.5\' to 2\' shark2.5\' sharka bull shark, according to some of the divers on the boatgoblin shark, 4.2\'blacktip shark, 2mmako shark, 90kgbronze whaler shark, 4mnurse shark, 10\'possibly a hammerhead sharknot a shark attack; it was a hoax2.27 m shark1.5 to 2 m sharkblacktip shark, 5\'oceanic whitetip sharks were in the vicinitygray reef shark9.5\' shark?nurse shark, 2\' to 3\' possibly a spinner sharkwhite shark, 12\'sand sharkpossibly a 6\' bull shark possibly a 10\' bull sharkbronze whaler shark, 1.5 m 3\' small spotted catshark, scyliorhinus caniculabull shark, 5\' questionable incidentlemon shark, 6\' female a 10-year-old 94-pound pregnant blacktip reef sharklesser spotted dogfish, scyliorhinus canicula, less than 80 cm in lengthwhite shark, 2m tiger shark, 14\' lemon shark, >1 m bull shark, 10\' white shark, 3m2.4 m shark24" to 30" shark6\' to 8\' shark, possibly a tiger shark2.5 to 3 m shark2 to 3 m sharkwhite shark, 12\' to 15\' raggedtooth shark, 150-kgwhite shark, 5m bull shark, 1.5m white shark, 16\' 1\' to 4\' shark3\' to 3.5\' sharkwhite shark, 3.5m small catsharkswhite shark?thought to involve a mako shark, but possibly a sea lionbull shark, 4\' to 5\' angel shark, 1.2m shark involvement not confirmed, injury may have been caused by a bluefishbull or tiger shark5\' to 6\' spinner or bull shark1.8 m blacktip "reef" sharkpossibly a 1\' to 3\' blacktip or spinner shark14\' white sharktiger shark, 8\' to 12\'tiger shark, 15\' femalegrey reef shark, 5\' to 8\' wobbegong shark, 2 m bull shark, 4\' to bull sharkbronze whaler shark, a  juvenile raggedtooth shark, 2.5 m to 3 m 3 m, 600-kg sharktiger shark, 5\' bronze whaler shark, 2 m5\' to 7\' shark4.5 m white shark12\' to 18\' shark12\' shark3.5 m white sharksaid to involve a 1.5 m sharkwhitetip reef shark4 m white shark3 m white sharkraggedtooth shark, 2.5m 12\' to 14\' white shark18\' white sharktiger shark, less than 10\'caribbean reef sharkstiger shark, 3 m 14\' to 16\' white shark4 m [13\'] white shark2 m [6.75\'] shark, 200-kg shark tjuvenile white sharkpossibly a sandbar shark or small blacktip shark1.8 m [6\'] shark3.5 m [11.5\']shark[4.5\' to 5\'] shark[4\' to 5\']1.8 m [6\'] bull sharkon 8/13/2005 anglers from new zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. it was believed this was the same shark that killed alyshaunknown, but it was reported that a shark tooth was recovered from the wound3 m [10\'] white sharkmr. burgess of isaf announced the injury was the bite of a 1.8 m [6\'], 2- to 3-year old white shark. subsequent investigation revealed there was  no shark involvement in this incident"small shark"18" to 36" sharktiger shark, 3 m [10\']2 m [6.75\'] copper shark1.8 m [6\'] blacktip sharksmall hammerhead shark4 m [13\'] shark6 m [20\'] white sharksandtiger shark, 2.1 m [7\'] bronze whaler shark, 4.3 m [14\'] nurse shark, 3\' tiger shark, 2.4 m [8\']1.8 m [6\'] caribbean reef shark3 m [10\'] sharkbronze whaler shark, 2 m to 3 m [6.75\' to 10\']  4.5 m & 5 m white shark 5.5 m [18\'] white shark2.5 m [8.25\'] bull shark2 m [6.75\'] white sharkbronze whaler shark, 2.4 m [8\'] 1.8 m to 2.4 m [6\' to 8\'] white sharktiger shark, 2.4 m to 3.7 m [8\' to 12\'] raggedtooth shark, 1.5 to 2 m [5\' to 6.75\']thought to involve a 2.5 m bull or tiger sharktiger shark, 3 m [10\'] 2.4 m [8\'] shark0.9 m to 1.2 m [3\' to 4\'] white shark4.9 m to 5.5 m [16\' to 18\'] white shark1.2 m [4\'] shark3 m to 4 m [10\' to 13\']  white shark1.2 m to 1.5 m [4\' to 5\'] sharklongfin mako shark, 3.5 m [11.5\'], 350-kg [772-lb] 2 sharks, 4.5 m & 3 m "black tipped" shark9\'2" white sharkbronze whaler shark, 2.5 m [8.25\'] 0.9 m to 1.5 m [3\' to 5\'] shark2.4 m to 3.7 m [8\' to 12\'] shark1,5 m [5\'] caribbean reef shark (carcharhinus  perezi)mako shark, 1.8 m [6\']wobbegong shark, 1.2 m [4\'] kwhite shark, 5.5 m [18\']small sharks5 m [16.5\'] white shark1.2 m [4\'] bull sharktiger shark, 2.4 m to 3 m [8\' to 10\'] bronze whaler shark, 1.5 m [5\'] 2 m [6.75\'] sevengill  shark60 cm [23.6"] blind or brown shark4 m to 5 m [13\' to 16.5\'] white sharkpossibily a  1.5 to 2 m sandtiger sharkshark involvement doubtfulbull shark, 1.65 m [5\'5"] was speared & killedbull shark, 132-kg [291-lb] mako shark, 3 m to 4 m [10\' to 13\'] raggedtooth shark, 3.5 m [11.5\'] shortfin mako sharkwobbegong shark, 1.2 m [4\'] tiger shark, 4 m [13\']  ?2.5 oceanic whitetip sharknurse shark, 60 cm to 90 cm [2\' to 3\'] 1.5 m [5\'] shark, either a bronze whaler or a grey nurse shark1.2 m [4\'] "grey-colored shark"2 m cow shark4.5 m to 5.5 m [15\' to 18\'] white shark3.5 m [11.5\'] white sharkunidentified species1.5 m to 1.8 m [5\' to 6\'] shark2.1 m  [7\'] bull shark8\' great hammerhead shark106 cm [3.5\']  shark\x93small brown shark\x943.7 m to 4.3 m [12\' to 14\'] shark"sand shark"1.8 m [6\'] reef shark - or a 2.1 m to 2.4 m [7\' to 8\'] grey-colored shark0.9 m to 1.2 m [3\' to 4\'] sharka \x93small\x94 shark15 cm to 20 cm [6" to 8"] bite diameter just below left kneemako shark, 3 m [10\']60 cm [2\'] captive shark2.5 m [8.25\'] white sharkspecies unidentifiedthought to involve a 2 m [6.75\'] grey nurse sharkthought to involve a >2 m [6.75\'] bull sharkreported to involve a hammerhead sharkwhite shark, 4 m white sharkwobbegong shark, 1mshark involvement not confirmed, injury may be due to a stingray3 m to 4.5 m [10\' to 15\'] white shark2.4 m to 3 m [8\' to 10\'] grey colored shark1.8 m to 2.1 m [6\' to 7\']\xa0 caribbean reef shark possibly a bull shark or tiger shark3.5\' to 4.5\' shark1.2 m [4\'] blacktip sharktiger shark, 1.5 m [5\']k3 m to 3.7 m [10\' to 12\'] shark1\' to 2\' hammerhead or bonnethed shark0.9 m  to 1.2 m [3\' to 4\'] sharknurse shark, 1.5 m [5\'] sandtiger shark, 3 m [10\'] 1.2 m [4\'] blacktip or sandbar sharkbull shark, 1.8 m to 2.1 m [6\' to 7\'] mako shark, 400-lb 1.2 m to 1.5 m [4\' to 5\'] shark, possibly a bull sharktiger shark, 2.4 m to 2.7 m [8\' to 9\']  0.9 m to 1.2 m [3\' to 4\'] shark; tooth fragment recovered from hand\xa0 1.5 to 2.5 m [5\' to 8.25\'] copper shark3.7 m to 4.3 m [12\' to 14\'] white shark1 m  shark3\' blacktip shark2.1 m to 2.4 m [7\' to 8\'] sharkwhite shark, 6m [20\']bull shark, 400-lb 0.9 m [3\'] sharknurse shark, 1m spinner shark, 3\' to 4\' shark involvement prior to death unconfired1.5 m [5\'] "whaler shark"c. leucas tooth fragment recovered from kayakunidentifiedtiger shark, 1.8 m [6\'] mako shark, 2 m [6.75\'] tiger shark, 1.8 m [6\']questionable incident - shark bite may have precipitated drowning2\' to 3.5\' shark12\' sandtiger sharka large white shark was filmed by divers on a local wreck 2 days prior to the incident.1.5 m [5\'] shark3 m [10\'] bull sharkpossibly  a blacktip or spinner shark3\' shark, possibly  a blacktip or spinner sharkblacktip shark, 5\' to 6\' 1.9 m [6.5\'] bull sharkmako shark, 14\' 0.9 m  [3\'] sharkbull shark, 2.3 m [7.5\'] white shark, 2.4 m to 3 m [8\' to 10\'] 1.2 m to 1.5 m [4.5\' to 5\'] sharkwhite shark, 2.7 m to 3 m [9\' to 10\'] possibly a juvenile blacktip or spinner sharkpossibly a 1.5 m [5\'] blacktip or spinner shark1 m shark, possibly whitetip reef sharkwhite shark, 2.7 m [9\'] spinner shark, 1.2 m to 1.5 m [4\' to 5\'] tiger shark, 8\' white shark, 5 m [16.5\'] bronze whaler shark, 2.5 m [8.25\']  k2 m [6.75\'] sharkwhite shark, 4.3 m [14\'] 1.8 m to 2.4 m [6\' to 8\'] "black finned shark"6 m [20\'] sharkwhite shark, 4.5 m [14\'9"] porbeagle shark, 3 m [10\']rktiger shark, 4 m 1.2 m to 1.8 m [4\' to 6\'] sharkwhite shark, 4.9 m [16\'] tiger shark, 1.8 m to 2.4 m [6\' to 8\'] 2.1 to 2.4 m [7\' to 8\'] sharkblacktip shark, 2\' white shark, 4.3 m [14\']white shark, 4 m to 5 m [13\' to 16.5\'] 100-kg [221-lb] dead blue sharkwhite shark, 2.5 m 60 cm to 90 cm [2\' to 3\'] sharkwhite shark, 3.5 m [11.5\']  male thought to involve a zambesi sharka 2\' shark was seen in the area by witnessesthought to involve a 2.7 m [9\'], 400-lb bull sharktiger shark, 3.7 m to 4.5 m [12\' to 14\'9"]  blacktip shark, 2.4 m to 3 m [8\' to 10\'] shark involvement  not confirmednurse shark, 1.5 m [5\']1.8 m [6\'] grey-colored sharkgrey reef shark, 2 m [6.75\'] lemon shark, 2.1  m to 2.4 m [7\' to 8\'] tiger shark, 0.9 m to 1.5 m [3\' to 5\'] ?nurse shark, 1.2 m [4\'] 0.9 m [3\'] shark,  probably a blacktip or spinner sharkbull shark, 2.4 m [8\']blacktip shark, 1.2 m to 1.8 m [4\' to 6\'] tiger sharks & bull sharks (20 sharks in all)tiger shark, 4 m [13\'] ?2 m to 2.5 m [6.75\'  to 8.25\'] sharkshark involvement  questionableshortfin mako shark, 3 m to 3.4 m [10\' to 11\'] miami, a 60 cm blacktip  shark and two 60 cm bamboo catsharkssevengill sharkthought to involve a white, bull or tiger sharkwhite shark, 3 m [10\'] 1.3 to 1.6 m sharkgrey reef shark, 1.2 m [4\'] lemon shark, 2.7 m [9\'] said to involve a 7 m [23\'] white shark2.7 m [9\']  bull shark or caribbean reef sharkwhite shark, 3 m to 5 m [10\' to 16.5\'] bull shark, 2.1 m [7\']blacktip shark, 1.8 m [6\'] white shark, 4 m [13\'] tiger shark, 2.5 m [8.25\']grey reef shark, 1.5 m 3 bull sharkssevengill shark, 2.4 m [8\'] 200 to 300 kg sharkmako shark, 1.3 m gaffed 3.7 m to 4.6 m [12\' to 15\'] shark seen in the vicinitybronze whaler or tiger sharkwhite shark, 4.6 m [15\'] possibly a white sharka "small shark"white shark, 5 m  to 6 m [16.5\' to 20\'] though to involve a white sharkwhite shark, 5 m to 6 m [16.5\' to 20\'] dusky shark, 12\' caribbean reef shark, 1.2 m to 1.5 m [4\' to 5\'] 4.5\' to 5\' sharksandtiger shark, 2 m, male white shark, 4.9 m [16\']raggedtooth shark, 1.2 m [4\'] thought to involve a 5.5 m white shark named kong3 m to 4 m [10\' to 13\'] white sharklemon shark, 1.5 m [5\'], identified  by the surfer1.8 m [6\'] shark, possibly a blacktipnurse shark, 0.9 m [3\'] 5\' spinner shark1.7 m sharksmall dusky shark or blackfin sharkshark involvement prior to death suspected but not confirmedtiger shark, 4 m to 4.3 m [13\' to 14\'] possibly a blacktip sharksoupfin sharksmall blacktip sharktiger shark, 5.2 m [17\']thought to involve an oceanic whitetip shark or a white shark"juvenile shark"tiger shark, 2.7m  [9\']1.2 m [4\'] shark (spinner shark?)possibly a sand sharkpossibly a caribbean reef shark3.7m  to 4.2 m white sharktiger shark, 2m to 3m 1.8 m to 2.1 m [6\' to 7\'] sharktiger shark, 4.5 m [14\'9"]3 m to 5 m [10\' to 16.5\'] white shark5.5 m to 6 m [18\' to 20\'] white shark"a young shark"tiger shark, 2.4 m [8\'] 1.8 m to 2.1 m [6\' to 7\'] hammerhead sharksaid to involve an oceanic whitetip shark2.5 m [8.25\'] white shark 60 cm to 90 cm [2\' to 3\'] blacktip or spinner shark"reef shark"nurse shark, 0.9 m  [3\'] possibly a tiger sharkmako shark, 4.3 m [14\']tiger shark, 300-kg [662-lb] tiger shark, 2.5 m [8.25\'] 1.2 m to 1.5 m [4\' to 5\']   shark1.5 to 1.8 m [5\' to 6\'] shark3 m to 3.7 m [10\' to 12\'] bull shark"sand" sharktwo 1.2 m to 1.5 m [4\' to 5\'] sharkswhite shark (tooth fragment recovered)tiger shark, 3.7 m [12\'] though to involve a tiger shark3.7 m [12\'] sharkbronze whaler shark, 2 m leopard shark5 m to 5.5 m [16.5\' to 18\'] white sharkraggedtooth shark, 2.7 m [9\'] 2.7 m [9\'] sharkthought to involve a small sand shark3 to 3.5 m [10\' to 11.5\'] bull shark1.2 m [4\'] spinner shark2.1 m [7\'] shark>1.8 m [6\'] shark3 m [10\'], 200-kg [441-lb] bull shark4.9 m white shark3.6 m [11\'9"] white sharklemon shark, 4\' 1.3 m [4\'3"] sharktiger shark said to be 5 to 7 m [16.5\' to 23\'] on 11-jan-1994, his remains washed ashore. a 2.4 m [8\'] tiger shark thought to be involvedtiger shark caught 6 days later with diver\x92s remains in its gut>6 m [20\'] white shark3.7 m [12\'] white shark1.8 m [6\'] blacktip shark or caribbean reef shark>6 m white shark, according to witnesses5.5 m to 6 m [18\' to 20\']  white shark1.8 m to 2.4 m [6\' to 8\'] shark, tooth fragments recovered thought to involve a tiger sharkremains recovered from 5.5 m [18\'] white sharkpossiby white sha

In [92]:
searchfor='|'.join(['questionable','doubt','involvement', 'invalid' , 'unidentified','unconfirmed','not'])

df.loc[df['species'].str.contains(searchfor),'species'] = 'unknown'

In [93]:
df.loc[df['species'].str.contains('white'), 'species'] = 'white_shark'

In [94]:
df.species.value_counts()

unknown                                      3373
white_shark                                   666
tiger shark                                    73
bull shark                                     55
6' shark                                       40
                                             ...
blacktip shark, 2.4 m to 3 m [8' to 10']        1
nurse shark, 1.5 m [5']                         1
1.8 m [6'] grey-colored shark                   1
grey reef shark, 2 m [6.75']                    1
blue pointers                                   1
Name: species, Length: 1149, dtype: int64

In [120]:
#cross=pd.crosstab(index=df.year, columns=df.type).sort_values(by='year',ascending=False)
#cross