In [1]:
# librerias

import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')


# para pintar
import pylab as plt
import seaborn as sns

#para que salga el grafico
%matplotlib inline

In [2]:
shark_attacks=pd.read_csv('./attacks.csv',encoding='latin')

In [3]:
shark_attacks.shape

(25723, 24)

In [4]:
df=shark_attacks.copy()  #copia de la original

In [5]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [6]:
len(df.columns)

24

In [7]:
#Columnas numericas

num_df=df.select_dtypes(exclude='object')

num_df.columns

Index(['Year', 'original order'], dtype='object')

In [8]:
##Columnas categoricas

cat_df=df.select_dtypes(exclude=['int64', 'float64'])

cat_df.columns

Index(['Case Number', 'Date', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

In [9]:
print(num_df.shape[1])  #nº columnas numericas
print(cat_df.shape[1])  #nº columnas categoricas

2
22

In [10]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB

In [11]:
n_cols=[c.lower().replace(' ', '.') for c in df.columns]

In [12]:
{k:v for k,v in zip(df.columns, n_cols)}

{'Case Number': 'case.number',
 'Date': 'date',
 'Year': 'year',
 'Type': 'type',
 'Country': 'country',
 'Area': 'area',
 'Location': 'location',
 'Activity': 'activity',
 'Name': 'name',
 'Sex ': 'sex.',
 'Age': 'age',
 'Injury': 'injury',
 'Fatal (Y/N)': 'fatal.(y/n)',
 'Time': 'time',
 'Species ': 'species.',
 'Investigator or Source': 'investigator.or.source',
 'pdf': 'pdf',
 'href formula': 'href.formula',
 'href': 'href',
 'Case Number.1': 'case.number.1',
 'Case Number.2': 'case.number.2',
 'original order': 'original.order',
 'Unnamed: 22': 'unnamed:.22',
 'Unnamed: 23': 'unnamed:.23'}

In [13]:
# k=vieja columna, v=nueva columna, todas o algunas

df=df.rename(columns={k:v for k,v in zip(df.columns, n_cols)})  # todas

df.head()

,case.number,date,year,type,country,area,location,activity,name,sex.,age,injury,fatal.(y/n),time,species.,investigator.or.source,pdf,href.formula,href,case.number.1,case.number.2,original.order,unnamed:.22,unnamed:.23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [14]:
n_cols=[c.replace('.', '_') for c in df.columns]

In [15]:
{k:v for k,v in zip(df.columns, n_cols)}

{'case.number': 'case_number',
 'date': 'date',
 'year': 'year',
 'type': 'type',
 'country': 'country',
 'area': 'area',
 'location': 'location',
 'activity': 'activity',
 'name': 'name',
 'sex.': 'sex_',
 'age': 'age',
 'injury': 'injury',
 'fatal.(y/n)': 'fatal_(y/n)',
 'time': 'time',
 'species.': 'species_',
 'investigator.or.source': 'investigator_or_source',
 'pdf': 'pdf',
 'href.formula': 'href_formula',
 'href': 'href',
 'case.number.1': 'case_number_1',
 'case.number.2': 'case_number_2',
 'original.order': 'original_order',
 'unnamed:.22': 'unnamed:_22',
 'unnamed:.23': 'unnamed:_23'}

In [16]:
# k=vieja columna, v=nueva columna, todas o algunas

df=df.rename(columns={k:v for k,v in zip(df.columns, n_cols)})  # todas

df.head()

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [17]:
n_cols=[c.replace('(y/n)', '') for c in df.columns]
{k:v for k,v in zip(df.columns, n_cols)}
df=df.rename(columns={k:v for k,v in zip(df.columns, n_cols)})  # todas

df.head()

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_,time,species_,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [18]:
df.drop_duplicates(inplace=True)

In [19]:
df.shape

(6312, 24)

In [20]:
nan_cols=df.isna().sum()  # serie con los valores nulos por columna

nan_cols[nan_cols>0]

case_number                  2
date                        10
year                        12
type                        14
country                     60
area                       465
location                   550
activity                   554
name                       220
sex_                       575
age                       2841
injury                      38
fatal_                     549
time                      3364
species_                  2848
investigator_or_source      27
pdf                         10
href_formula                11
href                        10
case_number_1               10
case_number_2               10
original_order               3
unnamed:_22               6311
unnamed:_23               6310
dtype: int64

In [21]:
nan_cols_per=df.isna().mean() * 100  # porcentaje de nulos por columna

nan_cols_per[nan_cols_per>0]

case_number                0.031686
date                       0.158428
year                       0.190114
type                       0.221800
country                    0.950570
area                       7.366920
location                   8.713561
activity                   8.776933
name                       3.485425
sex_                       9.109632
age                       45.009506
injury                     0.602028
fatal_                     8.697719
time                      53.295311
species_                  45.120406
investigator_or_source     0.427757
pdf                        0.158428
href_formula               0.174271
href                       0.158428
case_number_1              0.158428
case_number_2              0.158428
original_order             0.047529
unnamed:_22               99.984157
unnamed:_23               99.968314
dtype: float64

In [22]:
high_nancols=list(nan_cols_per[nan_cols_per>80].index )  #lista de las columnas con +80% de valores nulos
high_nancols

['unnamed:_22', 'unnamed:_23']

In [23]:
df.drop(columns=high_nancols,inplace=True)    #eliminar columnas con +80% de valores nulos

In [24]:
df.shape,shark_attacks.shape    #comparar el tamaños del archivo original vs el actual (drop 5 columnas)

((6312, 22), (25723, 24))

In [25]:
df['case_number'].fillna('unknown', inplace=True)

In [26]:
df.head()

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_,time,species_,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

In [27]:
df.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'injury', 'fatal_', 'time',
       'species_', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number_1', 'case_number_2', 'original_order'],
      dtype='object')

In [28]:
for c in df.columns:
    
    columna=c
    
    print(c,'- valores únicos: ',len(df[columna].unique()))

case_number - valores únicos:  6288
date - valores únicos:  5434
year - valores únicos:  250
type - valores únicos:  9
country - valores únicos:  213
area - valores únicos:  826
location - valores únicos:  4109
activity - valores únicos:  1533
name - valores únicos:  5231
sex_ - valores únicos:  7
age - valores únicos:  158
injury - valores únicos:  3738
fatal_ - valores únicos:  9
time - valores únicos:  367
species_ - valores únicos:  1550
investigator_or_source - valores únicos:  4970
pdf - valores únicos:  6292
href_formula - valores únicos:  6291
href - valores únicos:  6286
case_number_1 - valores únicos:  6286
case_number_2 - valores únicos:  6287
original_order - valores únicos:  6309

In [29]:
df.tail(10)

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_,time,species_,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'injury', 'fatal_', 'time',
       'species_', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number_1', 'case_number_2', 'original_order'],
      dtype='object')

In [32]:
df.drop_duplicates(subset=['date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'injury', 'fatal', 'time',
       'species_', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number_1', 'case_number_2'],inplace=True)

KeyError: Index(['fatal'], dtype='object')

In [33]:
df.shape

(6312, 22)

In [34]:
df.iloc[6147:6230]

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_,time,species_,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
6147,1767.00.00,1767,1767.0,Invalid,FRANCE,Côte d'Azur,St. Tropez,Bathing,Samuel Matthews,M,NaN,Lacerations to arm & leg,NaN,NaN,Description of shark does not ring true,NaN,1767.00.00-Matthews.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1767.00.00,1767.00.00,156.0
6148,1764.00.00,1764,1764.0,Unprovoked,SPAIN,NaN,Guadalquivir River,Swimming,male,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1764.00.00-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1764.00.00,1764.00.00,155.0
6149,1758.00.00,1758,1758.0,Unprovoked,MEDITERRANEAN SEA,NaN,NaN,Fell overboard from a frigate & was swallowed ...,sailor,M,NaN,"""He was taken up alive and but little injured.""",N,NaN,"""The fish was harpooned, dried, and presented ...",A.M. Hodgkin,1758.00.00-Mediterranean.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1758.00.00,1758.00.00,154.0
6150,1753.10.27.R,Reported 27-Oct-1753,1753.0,Unprovoked,JAMAICA,NaN,Kingston Harbor,Fell overboard,male,M,NaN,FATAL,Y,NaN,NaN,"Maryland Gazette, 1/31/1754",1753.10.27.R-Jamaica.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1753.10.27.R,1753.10.27.R,153.0
6151,1751.07.27,27-Jul-1751,1751.0,Unprovoked,USA,Massachusetts,NaN,Swimming,male,M,NaN,FATAL,Y,NaN,NaN,"Pennsylvania Gazette, 8/15/1751",1751.07.27-Massachusetts.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1751.07.27,1751.07.27,152.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6225,ND.0088,"No date, Before 1987",0.0,Unprovoked,IRAN,Khuzestan Province,"Ahvaz, on the Karun River",NaN,Mr. Jabar-Kaaby,M,NaN,Foot severed,N,NaN,Bull shark,B. Coad & F. Papahn,ND-0088-Jabar-Kaaby.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0088,ND.0088,78.0
6226,ND.0087,"No date, Before 1975",0.0,Provoked,USA,Florida,"Riviera Beach, Palm Beach County",Skin diving. Grabbed shark's tail; shark turne...,Carl Bruster,M,19,"Ankle punctured & lacerated, hands abraded PRO...",N,NaN,"Nurse shark, 2.1 m [7']","R. Skocik, p.176",ND-0087-Carl-Bruster.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0087,ND.0087,77.0
6227,ND.0086,"No date, Before 1975",0.0,Invalid,PAPUA NEW GUINEA,Milne Bay Province,"D'Entrecasteaux islands, 20 miles off the coast",Scuba diving,Dan Hogan,M,NaN,Said to be fatal and involve a 4.6 m to 6 m [1...,Y,NaN,Questionable,"F. Dennis, pp.15-16",ND-0086-DanHogan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0086,ND.0086,76.0
6228,ND.0085,"No date, Before 1969",0.0,Unprovoked,RED SEA?,NaN,NaN,Free diving,Jill Reed,F,NaN,"Shoulder scratched, swim fin bitten",N,Morning,NaN,"Captain T. Falcon-Barker, pp. 91-93",ND-0085-JillReed.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0085,ND.0085,75.0
6229,ND.0084,"No date, Before 3-Jan-1967",0.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Keiskamma River mouth,Crossing river on a raft,Sinsa,M,NaN,"FATAL, leg severed",Y,NaN,NaN,"Whitaker, The Sun, 1/3/1967",ND-0084-Sinsa.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0084,ND.0084,74.0

In [35]:
#convertir valores de 'case_number' a str

for e in df.case_number:
    e=str(e)

In [36]:
lst=[]

for x in df.case_number: 
    
    if len(x) == 10:
        lst.append('-'.join(x.split('.')[:3]))     #crea una lista en la que si tiene mas de 10 caracteres quite lo que haya a la derecha del ultimo punto y lo añada. pun
        
        
    else:
        x='undefined'       #sino que lo añada a sustituyendolo por undefined
        lst.append(x)
    
lst

['2018-06-25',
 '2018-06-18',
 '2018-06-09',
 '2018-06-08',
 '2018-06-04',
 'undefined',
 'undefined',
 '2018-05-27',
 'undefined',
 'undefined',
 '2018-05-24',
 '2018-05-21',
 'undefined',
 'undefined',
 '2018-05-00',
 '2018-05-12',
 '2018-05-09',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2018-04-24',
 '2018-04-23',
 '2018-04-22',
 '2018-04-19',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2018-04-14',
 'undefined',
 '2018-04-09',
 '2018-04-05',
 '2018-04-03',
 '2018-03-31',
 '2018-03-14',
 'undefined',
 'undefined',
 '2018-02-24',
 '2018-02-23',
 '2018-02-17',
 '2018-02-15',
 '2018-02-14',
 '2018-02-11',
 '2018-02-03',
 '2018-02-01',
 '2018-01-28',
 '2018-01-21',
 '2018-01-14',
 '2018-01-13',
 '2018-01-12',
 '2018-01-05',
 '2017-12-31',
 '2017-12-30',
 '2017-12-21',
 '2017-12-09',
 'undefined',
 'undefined',
 'undefined',
 '2017-11-24',
 '2017-11-18',
 'undefined',
 '2017-11-13',
 '2017-11-04',
 'undefined',
 '2017-10-28',
 '2017-10-26',
 'undefined',
 'undefined',
 'undefined',
 '2017-10-22',
 '2017-10-21',
 '2017-10-18',
 '2017-10-09',
 '2017-10-05',
 '2017-10-01',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2017-09-20',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2017-09-14',
 '2017-09-13',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2017-08-29',
 '2017-08-27',
 'undefined',
 'undefined',
 '2017-08-23',
 '2017-08-18',
 '2017-08-10',
 '2017-08-05',
 '2017-08-03',
 '2017-08-01',
 '2017-07-31',
 'undefined',
 'undefined',
 '2017-07-27',
 'undefined',
 '2017-07-24',
 'undefined',
 'undefined',
 '2017-07-22',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2017-07-11',
 '2017-07-09',
 'undefined',
 '2017-07-07',
 '2017-07-02',
 '2017-06-29',
 '2017-06-21',
 '2017-06-19',
 'undefined',
 'undefined',
 '2017-06-17',
 '2017-06-05',
 'undefined',
 '2017-06-11',
 'undefined',
 'undefined',
 'undefined',
 '2017-06-04',
 '2017-06-02',
 '2017-05-30',
 '2017-05-28',
 '2017-05-27',
 '2017-05-12',
 'undefined',
 '2017-05-06',
 '2017-05-03',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2017-04-27',
 '2017-04-26',
 '2017-04-22',
 '2017-04-20',
 'undefined',
 'undefined',
 '2017-04-14',
 '2017-04-13',
 'undefined',
 'undefined',
 '2017-04-11',
 'undefined',
 'undefined',
 '2017-04-06',
 '2017-04-05',
 'undefined',
 'undefined',
 '2017-03-27',
 '2017-03-19',
 '2017-03-18',
 '2017-03-11',
 '2017-03-09',
 '2017-02-25',
 '2017-02-24',
 '2017-02-21',
 '2017-02-17',
 '2017-02-11',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2017-01-24',
 '2017-01-22',
 '2017-01-21',
 'undefined',
 'undefined',
 '2017-01-09',
 'undefined',
 '2017-01-05',
 '2017-01-03',
 '2016-12-27',
 '2016-12-24',
 '2016-12-19',
 '2016-12-14',
 'undefined',
 'undefined',
 '2016-12-06',
 '2016-12-01',
 '2016-11-28',
 '2016-11-14',
 '2016-10-30',
 '2016-10-29',
 '2016-10-24',
 '2016-10-21',
 '2016-10-15',
 '2016-10-14',
 'undefined',
 '2016-10-12',
 '2016-10-10',
 '2016-10-02',
 '2016-10-01',
 '2016-09-26',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2016-09-15',
 'undefined',
 '2016-09-11',
 '2016-09-07',
 '2016-09-06',
 'undefined',
 'undefined',
 '2016-09-04',
 '2016-09-01',
 '2016-09-00',
 'undefined',
 'undefined',
 '2016-08-27',
 '2016-08-25',
 '2016-08-07',
 '2016-08-06',
 '2016-08-04',
 '2016-07-29',
 'undefined',
 '2016-07-28',
 '2016-07-27',
 '2016-07-26',
 '2016-07-24',
 'undefined',
 'undefined',
 '2016-07-20',
 '2016-07-17',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2016-07-08',
 'undefined',
 'undefined',
 '2016-07-06',
 '2016-07-04',
 '2016-06-27',
 '2016-06-25',
 '2016-06-24',
 '2016-06-23',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2016-06-14',
 '2016-06-11',
 '2016-06-07',
 'undefined',
 'undefined',
 '2016-06-04',
 'undefined',
 'undefined',
 '2016-05-31',
 'undefined',
 'undefined',
 '2016-05-22',
 'undefined',
 'undefined',
 '2016-05-18',
 '2016-05-15',
 '2016-05-03',
 '2016-05-02',
 '2016-04-25',
 '2016-04-23',
 '2016-04-22',
 '2016-04-19',
 'undefined',
 'undefined',
 '2016-04-13',
 '2016-04-09',
 '2016-04-08',
 'undefined',
 'undefined',
 '2016-03-31',
 '2016-03-30',
 'undefined',
 'undefined',
 '2016-03-26',
 '2016-03-13',
 '2016-03-11',
 '2016-03-10',
 '2016-03-04',
 'undefined',
 '2016-03-02',
 '2016-02-22',
 '2016-02-19',
 '2016-02-12',
 'undefined',
 '2016-02-10',
 '2016-02-05',
 '2016-02-04',
 '2016-02-02',
 '2016-01-29',
 '2016-01-28',
 '2016-01-25',
 'undefined',
 'undefined',
 '2016-01-23',
 'undefined',
 '2016-01-05',
 '2016-01-02',
 '2015-12-26',
 '2015-12-25',
 '2015-12-22',
 'undefined',
 'undefined',
 '2015-12-19',
 '2015-12-13',
 '2015-12-11',
 '2015-12-08',
 '2015-11-20',
 '2015-11-16',
 'undefined',
 'undefined',
 '2015-11-10',
 '2015-12-23',
 '2015-11-03',
 'undefined',
 'undefined',
 '2015-10-30',
 'undefined',
 '2015-10-25',
 '2015-10-21',
 '2015-10-19',
 'undefined',
 'undefined',
 'undefined',
 '2015-10-13',
 'undefined',
 'undefined',
 '2015-10-08',
 '2015-10-07',
 'undefined',
 'undefined',
 '2015-10-04',
 '2015-09-29',
 '2015-09-26',
 '2015-09-24',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2015-09-19',
 '2015-09-18',
 '2015-09-17',
 '2015-09-08',
 '2015-09-06',
 '2015-09-05',
 '2015-09-04',
 '2015-09-03',
 '2015-09-01',
 '2015-09-00',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2015-08-20',
 '2015-08-19',
 'undefined',
 'undefined',
 '2015-08-10',
 '2015-07-31',
 '2015-07-28',
 '2015-07-27',
 'undefined',
 'undefined',
 '2015-07-25',
 'undefined',
 'undefined',
 '2015-07-22',
 '2015-07-19',
 '2015-07-10',
 '2015-07-08',
 '2015-07-06',
 'undefined',
 'undefined',
 '2015-07-03',
 '2015-07-02',
 '2015-07-01',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2015-06-25',
 'undefined',
 'undefined',
 '2015-06-23',
 '2015-06-19',
 '2015-06-17',
 'undefined',
 'undefined',
 '2015-06-13',
 '2015-06-11',
 '2015-06-07',
 '2015-06-05',
 '2015-06-01',
 'undefined',
 'undefined',
 '2015-05-25',
 '2015-05-24',
 '2015-05-20',
 '2015-05-15',
 '2015-05-09',
 '2015-05-07',
 '2015-05-03',
 '2015-05-02',
 '2015-04-29',
 '2015-04-26',
 '2015-04-25',
 'undefined',
 '2015-04-13',
 '2015-04-12',
 '2015-04-11',
 '2015-04-03',
 '2015-03-29',
 '2015-03-31',
 '2015-03-26',
 '2015-03-21',
 '2015-03-18',
 '2015-03-16',
 '2015-03-11',
 '2015-03-10',
 '2015-03-07',
 '2015-02-15',
 '2015-02-14',
 '2015-02-09',
 '2015-02-08',
 '2015-02-05',
 '2015-01-30',
 '2015-01-27',
 '2015-01-24',
 '2015-01-23',
 'undefined',
 'undefined',
 '2015-01-17',
 '2015-01-16',
 '2015-01-08',
 '2015-01-06',
 '2015-01-03',
 '2015-01-01',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2014-12-15',
 'undefined',
 '2014-11-29',
 '2014-11-20',
 '2014-11-19',
 '2014-11-17',
 '2014-11-16',
 '2014-11-13',
 '2014-11-10',
 '2014-11-08',
 '2014-10-31',
 '2014-10-30',
 '2014-10-22',
 '2014-10-20',
 '2014-10-19',
 '2014-10-18',
 '2014-10-17',
 '2014-10-14',
 '2014-10-12',
 '2014-10-11',
 'undefined',
 '2014-10-07',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2014-09-21',
 'undefined',
 '2014-09-13',
 '2014-09-09',
 '2014-09-06',
 '2014-09-03',
 '2014-09-02',
 '2014-09-00',
 '2014-08-31',
 'undefined',
 'undefined',
 '2014-08-28',
 'undefined',
 'undefined',
 'undefined',
 '2014-08-25',
 '2014-08-24',
 '2014-08-16',
 '2014-08-12',
 '2014-08-10',
 'undefined',
 '2014-08-09',
 '2014-08-08',
 '2014-08-06',
 '2014-08-05',
 '2014-08-02',
 '2014-08-02',
 '2014-08-01',
 '2014-08-00',
 '2014-07-27',
 '2014-07-22',
 '2014-07-21',
 '2014-07-20',
 '2014-07-16',
 '2014-07-14',
 '2014-07-13',
 '2014-07-12',
 '2014-07-09',
 'undefined',
 'undefined',
 '2014-07-03',
 'undefined',
 '2014-06-25',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2014-06-08',
 '2014-06-07',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2014-05-23',
 '2014-05-22',
 '2014-05-15',
 '2014-05-14',
 '2014-05-13',
 '2014-05-11',
 'undefined',
 '2014-05-06',
 '2014-05-04',
 '2014-05-01',
 '2014-04-24',
 '2014-04-22',
 '2014-04-15',
 'undefined',
 '2014-04-12',
 'undefined',
 'undefined',
 '2014-04-03',
 '2014-03-29',
 'undefined',
 'undefined',
 '2014-03-21',
 'undefined',
 'undefined',
 '2014-03-18',
 '2014-03-12',
 '2014-03-13',
 '2014-03-02',
 '2014-02-20',
 '2014-02-17',
 '2014-02-08',
 'undefined',
 '2014-02-07',
 '2014-01-26',
 '2014-01-25',
 '2014-01-04',
 'undefined',
 '2014-00-00',
 '2013-12-25',
 '2013-12-16',
 '2013-12-13',
 '2013-12-11',
 '2013-12-10',
 '2013-12-05',
 '2013-12-02',
 '2013-11-30',
 '2013-11-29',
 'undefined',
 '2013-11-22',
 '2013-11-12',
 '2013-11-10',
 'undefined',
 'undefined',
 '2013-10-31',
 '2013-10-28',
 'undefined',
 'undefined',
 '2013-10-24',
 '2013-10-23',
 '2013-10-20',
 '2013-10-19',
 '2013-10-11',
 '2013-10-08',
 '2013-10-05',
 '2013-10-05',
 'undefined',
 'undefined',
 '2013-09-25',
 'undefined',
 'undefined',
 '2013-09-14',
 '2013-09-12',
 '2013-09-08',
 'undefined',
 'undefined',
 '2013-09-02',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2013-08-29',
 '2013-08-26',
 'undefined',
 '2013-08-25',
 '2013-08-18',
 '2013-08-17',
 '2013-08-14',
 '2013-08-13',
 '2013-08-11',
 'undefined',
 '2013-08-05',
 '2013-07-31',
 '2013-07-30',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2013-07-22',
 '2013-07-19',
 'undefined',
 '2013-07-15',
 '2013-07-14',
 '2013-07-11',
 '2013-07-09',
 '2013-07-02',
 '2013-06-30',
 '2013-06-27',
 'undefined',
 'undefined',
 'undefined',
 '2013-06-18',
 '2013-06-17',
 '2013-06-16',
 '2013-06-15',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2013-05-14',
 'undefined',
 'undefined',
 'undefined',
 '2013-04-28',
 '2013-04-24',
 '2013-04-21',
 '2013-04-17',
 '2013-04-14',
 'undefined',
 'undefined',
 '2013-04-10',
 '2013-04-04',
 'undefined',
 'undefined',
 '2013-03-31',
 '2013-03-29',
 'undefined',
 '2013-03-21',
 'undefined',
 'undefined',
 '2013-03-12',
 'undefined',
 'undefined',
 '2013-03-03',
 '2013-02-27',
 'undefined',
 'undefined',
 '2013-02-10',
 '2013-02-09',
 '2013-02-01',
 '2013-01-26',
 '2013-01-25',
 'undefined',
 '2013-01-16',
 '2013-01-13',
 '2013-01-05',
 '2012-12-31',
 '2012-12-30',
 '2012-12-28',
 '2012-12-25',
 '2012-12-19',
 '2012-12-05',
 '2012-12-02',
 '2012-12-00',
 '2012-11-30',
 '2012-11-27',
 '2012-11-22',
 '2012-11-19',
 'undefined',
 'undefined',
 '2012-10-30',
 '2012-10-27',
 '2012-10-23',
 '2012-10-19',
 'undefined',
 'undefined',
 '2012-10-16',
 'undefined',
 '2012-10-07',
 '2012-10-02',
 '2012-09-25',
 '2012-09-24',
 '2012-09-16',
 '2012-09-10',
 '2012-09-09',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2012-09-04',
 'undefined',
 'undefined',
 'undefined',
 '2012-08-31',
 '2012-08-28',
 '2012-08-26',
 '2012-08-15',
 '2012-08-11',
 '2012-08-09',
 '2012-08-05',
 '2012-08-04',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2012-07-24',
 '2012-07-23',
 '2012-07-21',
 '2012-07-19',
 '2012-07-14',
 '2012-07-08',
 'undefined',
 'undefined',
 'undefined',
 '2012-07-06',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2012-06-20',
 '2012-06-19',
 '2012-06-18',
 '2012-06-15',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2012-06-12',
 '2012-06-10',
 '2012-06-03',
 'undefined',
 'undefined',
 '2012-05-31',
 '2012-05-29',
 '2012-05-23',
 '2012-05-20',
 '2012-05-16',
 '2012-05-12',
 '2012-05-09',
 '2012-05-06',
 'undefined',
 'undefined',
 '2012-04-11',
 '2012-04-03',
 '2012-04-00',
 '2012-03-31',
 '2012-03-24',
 '2012-03-22',
 '2012-03-20',
 '2012-03-15',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2012-03-05',
 '2012-03-04',
 '2012-03-03',
 '2012-03-01',
 '2012-02-26',
 '2012-02-25',
 '2012-02-20',
 '2012-02-06',
 '2012-01-27',
 '2012-01-19',
 'undefined',
 'undefined',
 'undefined',
 '2012-01-15',
 '2012-01-13',
 '2012-01-03',
 '2012-01-02',
 '2011-12-31',
 'undefined',
 '2011-12-25',
 '2011-12-23',
 'undefined',
 'undefined',
 '2011-12-11',
 'undefined',
 'undefined',
 '2011-12-06',
 '2011-12-05',
 '2011-12-02',
 '2011-11-29',
 '2011-11-28',
 '2011-11-22',
 'undefined',
 '2011-11-12',
 '2011-11-11',
 'undefined',
 'undefined',
 'undefined',
 '2011-10-22',
 '2011-10-20',
 '2011-10-19',
 '2011-10-11',
 '2011-10-10',
 '2011-10-09',
 '2011-10-05',
 '2011-10-02',
 '2011-10-01',
 '2011-09-30',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2011-09-20',
 '2011-09-19',
 '2011-09-17',
 '2011-09-16',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2011-09-02',
 '2011-08-31',
 'undefined',
 'undefined',
 '2011-08-26',
 'undefined',
 'undefined',
 '2011-08-23',
 '2011-08-18',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2011-08-15',
 '2011-08-11',
 '2011-08-01',
 '2011-07-31',
 '2011-07-30',
 '2011-07-25',
 '2011-07-22',
 '2011-07-19',
 '2011-07-15',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2011-07-06',
 '2011-07-05',
 '2011-06-30',
 '2011-06-29',
 '2011-06-28',
 '2011-06-26',
 '2011-06-24',
 '2011-06-21',
 'undefined',
 'undefined',
 '2011-06-15',
 'undefined',
 '2011-06-12',
 'undefined',
 'undefined',
 'undefined',
 '2011-06-01',
 '2011-05-30',
 '2011-05-29',
 '2011-05-25',
 '2011-05-22',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2011-05-10',
 'undefined',
 '2011-05-04',
 '2011-04-26',
 '2011-04-23',
 '2011-04-22',
 '2011-04-16',
 '2011-04-12',
 '2011-04-08',
 'undefined',
 '2011-03-24',
 '2011-03-23',
 'undefined',
 'undefined',
 '2011-03-16',
 'undefined',
 '2011-03-10',
 'undefined',
 '2011-02-23',
 '2011-02-19',
 '2011-02-17',
 '2011-02-13',
 '2011-02-12',
 'undefined',
 '2011-02-02',
 '2011-01-31',
 '2011-01-28',
 '2011-01-26',
 '2011-01-20',
 '2011-01-15',
 'undefined',
 '2011-01-03',
 '2010-12-26',
 '2010-12-17',
 '2010-12-11',
 '2010-12-05',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2010-11-27',
 '2010-11-19',
 '2010-11-15',
 '2010-11-14',
 'undefined',
 '2010-10-30',
 'undefined',
 '2010-10-28',
 '2010-10-25',
 'undefined',
 'undefined',
 '2010-10-22',
 '2010-10-20',
 '2010-10-09',
 'undefined',
 'undefined',
 '2010-10-01',
 '2010-09-27',
 '2010-09-24',
 '2010-09-21',
 '2010-09-13',
 '2010-09-07',
 'undefined',
 '2010-09-04',
 'undefined',
 'undefined',
 '2010-09-02',
 '2010-08-29',
 '2010-08-18',
 '2010-08-17',
 '2010-08-14',
 'undefined',
 '2010-08-10',
 ...]

In [37]:
lst2=[]

for x in lst: 
    
    if '-00' not in  x:
        lst2.append(x)     #crea una lista en la que si tiene mas de 10 caracteres quite lo que haya a la derecha del ultimo punto y lo añada. pun
        
        
    else:
        x='undefined'       #sino que lo añada a sustituyendolo por undefined
        lst2.append(x)
    
lst2

['2018-06-25',
 '2018-06-18',
 '2018-06-09',
 '2018-06-08',
 '2018-06-04',
 'undefined',
 'undefined',
 '2018-05-27',
 'undefined',
 'undefined',
 '2018-05-24',
 '2018-05-21',
 'undefined',
 'undefined',
 'undefined',
 '2018-05-12',
 '2018-05-09',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2018-04-24',
 '2018-04-23',
 '2018-04-22',
 '2018-04-19',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2018-04-14',
 'undefined',
 '2018-04-09',
 '2018-04-05',
 '2018-04-03',
 '2018-03-31',
 '2018-03-14',
 'undefined',
 'undefined',
 '2018-02-24',
 '2018-02-23',
 '2018-02-17',
 '2018-02-15',
 '2018-02-14',
 '2018-02-11',
 '2018-02-03',
 '2018-02-01',
 '2018-01-28',
 '2018-01-21',
 '2018-01-14',
 '2018-01-13',
 '2018-01-12',
 '2018-01-05',
 '2017-12-31',
 '2017-12-30',
 '2017-12-21',
 '2017-12-09',
 'undefined',
 'undefined',
 'undefined',
 '2017-11-24',
 '2017-11-18',
 'undefined',
 '2017-11-13',
 '2017-11-04',
 'undefined',
 '2017-10-28',
 '2017-10-26',
 'undefined',
 'undefined',
 'undefined',
 '2017-10-22',
 '2017-10-21',
 '2017-10-18',
 '2017-10-09',
 '2017-10-05',
 '2017-10-01',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2017-09-20',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2017-09-14',
 '2017-09-13',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2017-08-29',
 '2017-08-27',
 'undefined',
 'undefined',
 '2017-08-23',
 '2017-08-18',
 '2017-08-10',
 '2017-08-05',
 '2017-08-03',
 '2017-08-01',
 '2017-07-31',
 'undefined',
 'undefined',
 '2017-07-27',
 'undefined',
 '2017-07-24',
 'undefined',
 'undefined',
 '2017-07-22',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2017-07-11',
 '2017-07-09',
 'undefined',
 '2017-07-07',
 '2017-07-02',
 '2017-06-29',
 '2017-06-21',
 '2017-06-19',
 'undefined',
 'undefined',
 '2017-06-17',
 '2017-06-05',
 'undefined',
 '2017-06-11',
 'undefined',
 'undefined',
 'undefined',
 '2017-06-04',
 '2017-06-02',
 '2017-05-30',
 '2017-05-28',
 '2017-05-27',
 '2017-05-12',
 'undefined',
 '2017-05-06',
 '2017-05-03',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2017-04-27',
 '2017-04-26',
 '2017-04-22',
 '2017-04-20',
 'undefined',
 'undefined',
 '2017-04-14',
 '2017-04-13',
 'undefined',
 'undefined',
 '2017-04-11',
 'undefined',
 'undefined',
 '2017-04-06',
 '2017-04-05',
 'undefined',
 'undefined',
 '2017-03-27',
 '2017-03-19',
 '2017-03-18',
 '2017-03-11',
 '2017-03-09',
 '2017-02-25',
 '2017-02-24',
 '2017-02-21',
 '2017-02-17',
 '2017-02-11',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2017-01-24',
 '2017-01-22',
 '2017-01-21',
 'undefined',
 'undefined',
 '2017-01-09',
 'undefined',
 '2017-01-05',
 '2017-01-03',
 '2016-12-27',
 '2016-12-24',
 '2016-12-19',
 '2016-12-14',
 'undefined',
 'undefined',
 '2016-12-06',
 '2016-12-01',
 '2016-11-28',
 '2016-11-14',
 '2016-10-30',
 '2016-10-29',
 '2016-10-24',
 '2016-10-21',
 '2016-10-15',
 '2016-10-14',
 'undefined',
 '2016-10-12',
 '2016-10-10',
 '2016-10-02',
 '2016-10-01',
 '2016-09-26',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2016-09-15',
 'undefined',
 '2016-09-11',
 '2016-09-07',
 '2016-09-06',
 'undefined',
 'undefined',
 '2016-09-04',
 '2016-09-01',
 'undefined',
 'undefined',
 'undefined',
 '2016-08-27',
 '2016-08-25',
 '2016-08-07',
 '2016-08-06',
 '2016-08-04',
 '2016-07-29',
 'undefined',
 '2016-07-28',
 '2016-07-27',
 '2016-07-26',
 '2016-07-24',
 'undefined',
 'undefined',
 '2016-07-20',
 '2016-07-17',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2016-07-08',
 'undefined',
 'undefined',
 '2016-07-06',
 '2016-07-04',
 '2016-06-27',
 '2016-06-25',
 '2016-06-24',
 '2016-06-23',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2016-06-14',
 '2016-06-11',
 '2016-06-07',
 'undefined',
 'undefined',
 '2016-06-04',
 'undefined',
 'undefined',
 '2016-05-31',
 'undefined',
 'undefined',
 '2016-05-22',
 'undefined',
 'undefined',
 '2016-05-18',
 '2016-05-15',
 '2016-05-03',
 '2016-05-02',
 '2016-04-25',
 '2016-04-23',
 '2016-04-22',
 '2016-04-19',
 'undefined',
 'undefined',
 '2016-04-13',
 '2016-04-09',
 '2016-04-08',
 'undefined',
 'undefined',
 '2016-03-31',
 '2016-03-30',
 'undefined',
 'undefined',
 '2016-03-26',
 '2016-03-13',
 '2016-03-11',
 '2016-03-10',
 '2016-03-04',
 'undefined',
 '2016-03-02',
 '2016-02-22',
 '2016-02-19',
 '2016-02-12',
 'undefined',
 '2016-02-10',
 '2016-02-05',
 '2016-02-04',
 '2016-02-02',
 '2016-01-29',
 '2016-01-28',
 '2016-01-25',
 'undefined',
 'undefined',
 '2016-01-23',
 'undefined',
 '2016-01-05',
 '2016-01-02',
 '2015-12-26',
 '2015-12-25',
 '2015-12-22',
 'undefined',
 'undefined',
 '2015-12-19',
 '2015-12-13',
 '2015-12-11',
 '2015-12-08',
 '2015-11-20',
 '2015-11-16',
 'undefined',
 'undefined',
 '2015-11-10',
 '2015-12-23',
 '2015-11-03',
 'undefined',
 'undefined',
 '2015-10-30',
 'undefined',
 '2015-10-25',
 '2015-10-21',
 '2015-10-19',
 'undefined',
 'undefined',
 'undefined',
 '2015-10-13',
 'undefined',
 'undefined',
 '2015-10-08',
 '2015-10-07',
 'undefined',
 'undefined',
 '2015-10-04',
 '2015-09-29',
 '2015-09-26',
 '2015-09-24',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2015-09-19',
 '2015-09-18',
 '2015-09-17',
 '2015-09-08',
 '2015-09-06',
 '2015-09-05',
 '2015-09-04',
 '2015-09-03',
 '2015-09-01',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2015-08-20',
 '2015-08-19',
 'undefined',
 'undefined',
 '2015-08-10',
 '2015-07-31',
 '2015-07-28',
 '2015-07-27',
 'undefined',
 'undefined',
 '2015-07-25',
 'undefined',
 'undefined',
 '2015-07-22',
 '2015-07-19',
 '2015-07-10',
 '2015-07-08',
 '2015-07-06',
 'undefined',
 'undefined',
 '2015-07-03',
 '2015-07-02',
 '2015-07-01',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2015-06-25',
 'undefined',
 'undefined',
 '2015-06-23',
 '2015-06-19',
 '2015-06-17',
 'undefined',
 'undefined',
 '2015-06-13',
 '2015-06-11',
 '2015-06-07',
 '2015-06-05',
 '2015-06-01',
 'undefined',
 'undefined',
 '2015-05-25',
 '2015-05-24',
 '2015-05-20',
 '2015-05-15',
 '2015-05-09',
 '2015-05-07',
 '2015-05-03',
 '2015-05-02',
 '2015-04-29',
 '2015-04-26',
 '2015-04-25',
 'undefined',
 '2015-04-13',
 '2015-04-12',
 '2015-04-11',
 '2015-04-03',
 '2015-03-29',
 '2015-03-31',
 '2015-03-26',
 '2015-03-21',
 '2015-03-18',
 '2015-03-16',
 '2015-03-11',
 '2015-03-10',
 '2015-03-07',
 '2015-02-15',
 '2015-02-14',
 '2015-02-09',
 '2015-02-08',
 '2015-02-05',
 '2015-01-30',
 '2015-01-27',
 '2015-01-24',
 '2015-01-23',
 'undefined',
 'undefined',
 '2015-01-17',
 '2015-01-16',
 '2015-01-08',
 '2015-01-06',
 '2015-01-03',
 '2015-01-01',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2014-12-15',
 'undefined',
 '2014-11-29',
 '2014-11-20',
 '2014-11-19',
 '2014-11-17',
 '2014-11-16',
 '2014-11-13',
 '2014-11-10',
 '2014-11-08',
 '2014-10-31',
 '2014-10-30',
 '2014-10-22',
 '2014-10-20',
 '2014-10-19',
 '2014-10-18',
 '2014-10-17',
 '2014-10-14',
 '2014-10-12',
 '2014-10-11',
 'undefined',
 '2014-10-07',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2014-09-21',
 'undefined',
 '2014-09-13',
 '2014-09-09',
 '2014-09-06',
 '2014-09-03',
 '2014-09-02',
 'undefined',
 '2014-08-31',
 'undefined',
 'undefined',
 '2014-08-28',
 'undefined',
 'undefined',
 'undefined',
 '2014-08-25',
 '2014-08-24',
 '2014-08-16',
 '2014-08-12',
 '2014-08-10',
 'undefined',
 '2014-08-09',
 '2014-08-08',
 '2014-08-06',
 '2014-08-05',
 '2014-08-02',
 '2014-08-02',
 '2014-08-01',
 'undefined',
 '2014-07-27',
 '2014-07-22',
 '2014-07-21',
 '2014-07-20',
 '2014-07-16',
 '2014-07-14',
 '2014-07-13',
 '2014-07-12',
 '2014-07-09',
 'undefined',
 'undefined',
 '2014-07-03',
 'undefined',
 '2014-06-25',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2014-06-08',
 '2014-06-07',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2014-05-23',
 '2014-05-22',
 '2014-05-15',
 '2014-05-14',
 '2014-05-13',
 '2014-05-11',
 'undefined',
 '2014-05-06',
 '2014-05-04',
 '2014-05-01',
 '2014-04-24',
 '2014-04-22',
 '2014-04-15',
 'undefined',
 '2014-04-12',
 'undefined',
 'undefined',
 '2014-04-03',
 '2014-03-29',
 'undefined',
 'undefined',
 '2014-03-21',
 'undefined',
 'undefined',
 '2014-03-18',
 '2014-03-12',
 '2014-03-13',
 '2014-03-02',
 '2014-02-20',
 '2014-02-17',
 '2014-02-08',
 'undefined',
 '2014-02-07',
 '2014-01-26',
 '2014-01-25',
 '2014-01-04',
 'undefined',
 'undefined',
 '2013-12-25',
 '2013-12-16',
 '2013-12-13',
 '2013-12-11',
 '2013-12-10',
 '2013-12-05',
 '2013-12-02',
 '2013-11-30',
 '2013-11-29',
 'undefined',
 '2013-11-22',
 '2013-11-12',
 '2013-11-10',
 'undefined',
 'undefined',
 '2013-10-31',
 '2013-10-28',
 'undefined',
 'undefined',
 '2013-10-24',
 '2013-10-23',
 '2013-10-20',
 '2013-10-19',
 '2013-10-11',
 '2013-10-08',
 '2013-10-05',
 '2013-10-05',
 'undefined',
 'undefined',
 '2013-09-25',
 'undefined',
 'undefined',
 '2013-09-14',
 '2013-09-12',
 '2013-09-08',
 'undefined',
 'undefined',
 '2013-09-02',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2013-08-29',
 '2013-08-26',
 'undefined',
 '2013-08-25',
 '2013-08-18',
 '2013-08-17',
 '2013-08-14',
 '2013-08-13',
 '2013-08-11',
 'undefined',
 '2013-08-05',
 '2013-07-31',
 '2013-07-30',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2013-07-22',
 '2013-07-19',
 'undefined',
 '2013-07-15',
 '2013-07-14',
 '2013-07-11',
 '2013-07-09',
 '2013-07-02',
 '2013-06-30',
 '2013-06-27',
 'undefined',
 'undefined',
 'undefined',
 '2013-06-18',
 '2013-06-17',
 '2013-06-16',
 '2013-06-15',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2013-05-14',
 'undefined',
 'undefined',
 'undefined',
 '2013-04-28',
 '2013-04-24',
 '2013-04-21',
 '2013-04-17',
 '2013-04-14',
 'undefined',
 'undefined',
 '2013-04-10',
 '2013-04-04',
 'undefined',
 'undefined',
 '2013-03-31',
 '2013-03-29',
 'undefined',
 '2013-03-21',
 'undefined',
 'undefined',
 '2013-03-12',
 'undefined',
 'undefined',
 '2013-03-03',
 '2013-02-27',
 'undefined',
 'undefined',
 '2013-02-10',
 '2013-02-09',
 '2013-02-01',
 '2013-01-26',
 '2013-01-25',
 'undefined',
 '2013-01-16',
 '2013-01-13',
 '2013-01-05',
 '2012-12-31',
 '2012-12-30',
 '2012-12-28',
 '2012-12-25',
 '2012-12-19',
 '2012-12-05',
 '2012-12-02',
 'undefined',
 '2012-11-30',
 '2012-11-27',
 '2012-11-22',
 '2012-11-19',
 'undefined',
 'undefined',
 '2012-10-30',
 '2012-10-27',
 '2012-10-23',
 '2012-10-19',
 'undefined',
 'undefined',
 '2012-10-16',
 'undefined',
 '2012-10-07',
 '2012-10-02',
 '2012-09-25',
 '2012-09-24',
 '2012-09-16',
 '2012-09-10',
 '2012-09-09',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2012-09-04',
 'undefined',
 'undefined',
 'undefined',
 '2012-08-31',
 '2012-08-28',
 '2012-08-26',
 '2012-08-15',
 '2012-08-11',
 '2012-08-09',
 '2012-08-05',
 '2012-08-04',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2012-07-24',
 '2012-07-23',
 '2012-07-21',
 '2012-07-19',
 '2012-07-14',
 '2012-07-08',
 'undefined',
 'undefined',
 'undefined',
 '2012-07-06',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2012-06-20',
 '2012-06-19',
 '2012-06-18',
 '2012-06-15',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2012-06-12',
 '2012-06-10',
 '2012-06-03',
 'undefined',
 'undefined',
 '2012-05-31',
 '2012-05-29',
 '2012-05-23',
 '2012-05-20',
 '2012-05-16',
 '2012-05-12',
 '2012-05-09',
 '2012-05-06',
 'undefined',
 'undefined',
 '2012-04-11',
 '2012-04-03',
 'undefined',
 '2012-03-31',
 '2012-03-24',
 '2012-03-22',
 '2012-03-20',
 '2012-03-15',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2012-03-05',
 '2012-03-04',
 '2012-03-03',
 '2012-03-01',
 '2012-02-26',
 '2012-02-25',
 '2012-02-20',
 '2012-02-06',
 '2012-01-27',
 '2012-01-19',
 'undefined',
 'undefined',
 'undefined',
 '2012-01-15',
 '2012-01-13',
 '2012-01-03',
 '2012-01-02',
 '2011-12-31',
 'undefined',
 '2011-12-25',
 '2011-12-23',
 'undefined',
 'undefined',
 '2011-12-11',
 'undefined',
 'undefined',
 '2011-12-06',
 '2011-12-05',
 '2011-12-02',
 '2011-11-29',
 '2011-11-28',
 '2011-11-22',
 'undefined',
 '2011-11-12',
 '2011-11-11',
 'undefined',
 'undefined',
 'undefined',
 '2011-10-22',
 '2011-10-20',
 '2011-10-19',
 '2011-10-11',
 '2011-10-10',
 '2011-10-09',
 '2011-10-05',
 '2011-10-02',
 '2011-10-01',
 '2011-09-30',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2011-09-20',
 '2011-09-19',
 '2011-09-17',
 '2011-09-16',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2011-09-02',
 '2011-08-31',
 'undefined',
 'undefined',
 '2011-08-26',
 'undefined',
 'undefined',
 '2011-08-23',
 '2011-08-18',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2011-08-15',
 '2011-08-11',
 '2011-08-01',
 '2011-07-31',
 '2011-07-30',
 '2011-07-25',
 '2011-07-22',
 '2011-07-19',
 '2011-07-15',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2011-07-06',
 '2011-07-05',
 '2011-06-30',
 '2011-06-29',
 '2011-06-28',
 '2011-06-26',
 '2011-06-24',
 '2011-06-21',
 'undefined',
 'undefined',
 '2011-06-15',
 'undefined',
 '2011-06-12',
 'undefined',
 'undefined',
 'undefined',
 '2011-06-01',
 '2011-05-30',
 '2011-05-29',
 '2011-05-25',
 '2011-05-22',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2011-05-10',
 'undefined',
 '2011-05-04',
 '2011-04-26',
 '2011-04-23',
 '2011-04-22',
 '2011-04-16',
 '2011-04-12',
 '2011-04-08',
 'undefined',
 '2011-03-24',
 '2011-03-23',
 'undefined',
 'undefined',
 '2011-03-16',
 'undefined',
 '2011-03-10',
 'undefined',
 '2011-02-23',
 '2011-02-19',
 '2011-02-17',
 '2011-02-13',
 '2011-02-12',
 'undefined',
 '2011-02-02',
 '2011-01-31',
 '2011-01-28',
 '2011-01-26',
 '2011-01-20',
 '2011-01-15',
 'undefined',
 '2011-01-03',
 '2010-12-26',
 '2010-12-17',
 '2010-12-11',
 '2010-12-05',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 'undefined',
 '2010-11-27',
 '2010-11-19',
 '2010-11-15',
 '2010-11-14',
 'undefined',
 '2010-10-30',
 'undefined',
 '2010-10-28',
 '2010-10-25',
 'undefined',
 'undefined',
 '2010-10-22',
 '2010-10-20',
 '2010-10-09',
 'undefined',
 'undefined',
 '2010-10-01',
 '2010-09-27',
 '2010-09-24',
 '2010-09-21',
 '2010-09-13',
 '2010-09-07',
 'undefined',
 '2010-09-04',
 'undefined',
 'undefined',
 '2010-09-02',
 '2010-08-29',
 '2010-08-18',
 '2010-08-17',
 '2010-08-14',
 'undefined',
 '2010-08-10',
 ...]

In [38]:
df['case_number']=lst2   # sustituye la lista (lst) creada en la columna case_number

In [39]:
df.case_number.value_counts()

undefined     2568
2005-04-06       2
1990-05-10       2
2014-08-02       2
2009-12-18       2
              ...
2000-09-11       1
2000-08-31       1
2000-08-30       1
2000-08-21       1
1703-03-26       1
Name: case_number, Length: 3737, dtype: int64

In [40]:
df[['case_number','date','case_number_1','case_number_2','year']].iloc[6140:6170]

     case_number                      date case_number_1 case_number_2    year
6140  1784-12-12               12-Dec-1784    1784.12.12    1784.12.12  1784.0
6141  1783-03-02               02-Mar-1783    1783.03.02    1783.03.02  1783.0
6142  1780-08-08               08-Aug-1780    1780.08.08    1780.08.08  1780.0
6143   undefined                      1779    1779.00.00    1779.00.00  1779.0
6144   undefined             Reported 1776  1776.00.00.R  1776.00.00.R  1776.0
6145   undefined                      1776  1776.00.00.b  1776.00.00.b  1776.0
6146   undefined      Reported 12-Jul-1771  1771.07.12.R  1771.07.12.R  1771.0
6147   undefined                      1767    1767.00.00    1767.00.00  1767.0
6148   undefined                      1764    1764.00.00    1764.00.00  1764.0
6149   undefined                      1758    1758.00.00    1758.00.00  1758.0
6150   undefined      Reported 27-Oct-1753  1753.10.27.R  1753.10.27.R  1753.0
6151  1751-07-27               27-Jul-1751    1751.07.27    1751.07.27  1751.0
6152   undefined                      1749    1749.00.00    1749.00.00  1749.0
6153   undefined                      1755    1755.00.00    1755.00.00  1755.0
6154   undefined                      1748    1748.00.00    1748.00.00  1748.0
6155  1742-12-17               17-Dec-1742    1742.12.17    1742.12.17  1742.0
6156   undefined      Reported 06-Apr-1738  1738.04.06.R  1738.04.06.R  1738.0
6157   undefined                      1733    1733.00.00    1733.00.00  1733.0
6158   undefined                      1723    1723.00.00    1723.00.00  1723.0
6159   undefined                 June 1721    1721.06.00    1721.06.00  1721.0
6160  1703-03-26               26-Mar-1703    1703.03.26    1703.03.26  1703.0
6161   undefined                     1700s  1700.00.00.c  1700.00.00.c  1700.0
6162   undefined                     1700s  1700.00.00.b  1700.00.00.b  1700.0
6163   undefined                     1700s  1700.00.00.a  1700.00.00.a  1700.0
6164   undefined  Late 1600s Reported 1728  1642.00.00.b  1642.00.00.b  1642.0
6165   undefined             Reported 1638  1638.00.00.R  1638.00.00.R  1638.0
6166   undefined             Reported 1637  1637.00.00.R  1637.00.00.R  1637.0
6167   undefined             Reported 1617  1617.00.00.R  1617.00.00.R  1617.0
6168   undefined                      1642    1642.00.00    1642.00.00  1642.0
6169   undefined                      1595    1595.00.00    1595.00.00  1595.0

In [81]:
df_fecha=df[df.case_number!= 'undefined']   #nuevo data frame filtrado por fechas que no sean unkwon o undefined

In [82]:
df_fecha.head()

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_,time,species_,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
0,2018-06-25,25-Jun-2018,2018.0,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018-06-18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018-06-09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018-06-08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018-06-04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

In [83]:
df_fecha=df_fecha.sort_values(by=['case_number'], ascending=False)  #ordenado por fecha en modo descendente
df_fecha.head()

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_,time,species_,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
0,2018-06-25,25-Jun-2018,2018.0,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018-06-18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018-06-09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018-06-08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018-06-04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

In [84]:
nan_cols=df.isna().sum()  # serie con los valores nulos por columna

nan_cols[nan_cols>0]

date                        10
year                        12
type                        14
country                     60
area                       465
location                   550
activity                   554
name                       220
sex_                       575
age                       2841
injury                      38
fatal_                     549
time                      3364
species_                  2848
investigator_or_source      27
pdf                         10
href_formula                11
href                        10
case_number_1               10
case_number_2               10
original_order               3
dtype: int64

In [85]:
df.type.value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Boat             341
Sea Disaster     239
unknown            2
Name: type, dtype: int64

In [86]:
type_null=df[df.type.isna()]
type_null

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_,time,species_,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
85,undefined,15-Sep-2017,2017.0,NaN,SAMOA,Upolu Island,Nofoalii,Fishing,male,M,NaN,Injuries to hands and legs,N,Night,NaN,"Samoa Observer, 9/16/2017",2017.09.15.a-Samoa.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.15.a,2017.09.15.a,6218.0
382,2015-07-27,27-Jul-2015,2015.0,NaN,AUSTRALIA,Victoria,Tyrendarra Beach,Surfing,male,M,40,Injury to hand,NaN,NaN,NaN,NaN,2015.07.27-Victoria.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.07.27,2015.07.27,5921.0
4867,undefined,Reported 11-Sep-1936,1936.0,NaN,VIETNAM,NaN,Saigon,Wreck of a sampam,8 crew,M,NaN,FATAL,Y,NaN,NaN,"Lansing State Journal, 9/11/1936",1936.09.11-Saigon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1936.09.11.R,1936.09.11.R,1436.0
5705,undefined,Reported 03-Mar-1890,1890.0,NaN,CEYLON,NaN,NaN,Diving,a pearl diver,M,NaN,FATAL,Y,NaN,NaN,"The Guardian, 3/3/1890",1890.03.03.R-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1890.03.03.R,1890.03.03.R,598.0
6302,undefined,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0
6303,undefined,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0
6304,undefined,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0
6305,undefined,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0
6306,undefined,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0
6307,undefined,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0
6308,undefined,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0
6309,undefined,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,undefined,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,undefined,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
df.type.value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Boat             341
Sea Disaster     239
unknown            2
Name: type, dtype: int64

In [62]:
df['type'].replace(['Boating', 'Boatomg', 'Questionable'],['Boat', 'Boat', 'unknown'], inplace=True)

In [63]:
df.type.value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Boat             341
Sea Disaster     239
unknown            2
Name: type, dtype: int64

In [64]:
df.head()

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_,time,species_,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
0,2018-06-25,25-Jun-2018,2018.0,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018-06-18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018-06-09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018-06-08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018-06-04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

In [ ]:
df.

In [67]:
df.fatal_.value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: fatal_, dtype: int64

In [74]:
df['fatal_'].replace(['M',' N','N ','2017','y','UNKNOWN'],['N','N','N','N','Y','unknown'], inplace=True)  #m,n y

In [75]:
df.fatal_.value_counts()

N          4303
Y          1389
unknown      71
Name: fatal_, dtype: int64

In [111]:
df.sex_.value_counts()

M          5095
F           637
unknown     575
M             2
N             2
.             1
Name: sex_, dtype: int64

In [107]:
df['sex_'].fillna('unknown', inplace=True)   #quitamos nulos de sex

In [114]:
keyword = '.' #sirve para buscar en mi dataframe
select = df[df.sex_.str.contains(keyword, regex=True)]
select.head()

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_,time,species_,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
0,2018-06-25,25-Jun-2018,2018.0,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018-06-18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018-06-09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018-06-08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018-06-04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

In [109]:
df.at[1624,'sex_']='M'

In [121]:
df['sex_'].replace(['.','M ','N'],['unknown','M','unknown',], inplace=True)

In [122]:
df.sex_.value_counts()

M          5097
F           637
unknown     578
Name: sex_, dtype: int64

In [116]:
df_fecha.head()

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_,time,species_,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
0,2018-06-25,25-Jun-2018,2018.0,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018-06-18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018-06-09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018-06-08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018-06-04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

In [94]:
grupo=df.groupby('type').count().reset_index()[['type', 'year']]
grupo.sort_values(by='year',ascending=False)

           type  year
4    Unprovoked  4594
2      Provoked   574
1       Invalid   546
0          Boat   341
3  Sea Disaster   239
5       unknown     2

In [128]:
df['year'].fillna('unknown', inplace=True)   #quitamos nulos de

In [135]:
df.loc[df['year']=='unknown']

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_,time,species_,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
6302,undefined,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0
6303,undefined,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0
6304,undefined,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0
6305,undefined,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0
6306,undefined,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0
6307,undefined,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0
6308,undefined,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0
6309,undefined,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,undefined,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,undefined,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [136]:
#df.at[187,'year']=2017
#df.at[6079,'year']=1836

In [137]:
#df['year']=df['year'].astype('int')

ValueError: invalid literal for int() with base 10: 'unknown'

In [125]:
grupo1=df.groupby('sex_').count().reset_index()[['sex_', 'type']]
grupo1.sort_values(by='type',ascending=False)

      sex_  type
1        M  5093
0        F   637
2  unknown   568